.navigation-links2-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links2-text {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
}
.navigation-links2-text1 {
  font-size: 22px;
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links2-text2 {
  font-size: 22px;
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links2-text3 {
  font-size: 22px;
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links2-text4 {
  font-size: 22px;
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links2-text5 {
  font-size: 22px;
  margin-left: var(--dl-space-space-twounits);
}





























@media(max-width: 912px) {
  .navigation-links2-nav {
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .navigation-links2-text {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links2-text1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links2-text2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links2-text3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links2-text4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links2-text5 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.design-workshop-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.design-workshop-container01 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.design-workshop-header {
  width: 100%;
  display: flex;
  max-width: 100%;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.design-workshop-image {
  height: 3rem;
}
.design-workshop-nav {
  display: flex;
}
.design-workshop-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.design-workshop-register {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 900;
  border-radius: var(--dl-radius-radius-radius8);
  text-transform: capitalize;
  background-color: rgb(0, 0, 0);
}
.design-workshop-burger-menu {
  display: none;
}
.design-workshop-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.design-workshop-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.design-workshop-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.design-workshop-container02 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.design-workshop-image1 {
  height: 2rem;
}
.design-workshop-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.design-workshop-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.design-workshop-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.design-workshop-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.design-workshop-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.design-workshop-container03 {
  flex: 0 0 auto;
  width: 100%;
  /* border: 2px dashed rgba(120, 120, 120, 0.4); */
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.design-workshop-hero {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url('https://img.freepik.com/free-photo/drone-conducting-survey-vibrant-green-farmland-precision-agriculture_157027-2862.jpg?t=st=1701286492~exp=1701290092~hmac=607bfbb9ad8b350cae3ba0aa7d6e8e0935c76c80fbec9e53a2f7d753f58a3f5a&w=1060');
  background-position: center;
}
.design-workshop-text {
  color: var(--dl-color-gray-white);
  width: 640px;
  height: 67px;
  font-size: 3rem;
  max-width: auto;
  font-style: normal;
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  font-weight: 700;
  margin-bottom: 12px;
}
.design-workshop-button {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
.design-workshop-button:hover {
  transform: scale(1.02);
}
.design-workshop-container04 {
  flex: 0 0 auto;
  width: 100%;
  /* border: 2px dashed rgba(120, 120, 120, 0.4); */
  height: auto;
  display: flex;
  align-items: flex-start;
}
.design-workshop-container05 {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.design-workshop-container06 {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.design-workshop-container07 {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.design-workshop-container08 {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.design-workshop-container09 {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.design-workshop-container10 {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.design-workshop-container11 {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.design-workshop-container12 {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.design-workshop-social-bar {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  justify-content: center;
}
.design-workshop-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.design-workshop-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.design-workshop-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.design-workshop-icon16 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.design-workshop-icon18 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.design-workshop-container13 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.design-workshop-container14 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.design-workshop-footer {
  width: 100%;
  display: flex;
  max-width: 100%;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.design-workshop-container15 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.design-workshop-logo {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
}
.design-workshop-image2 {
  width: 200px;
  object-fit: cover;
}
.design-workshop-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.design-workshop-container16 {
  display: flex;
  align-items: flex-start;
  margin-right: 10rem;
  flex-direction: row;
  justify-content: space-between;
}
.design-workshop-product-container {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-right: 10rem;
  flex-direction: column;
  justify-content: flex-start;
}
.design-workshop-text04 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.design-workshop-text05 {
  margin-bottom: var(--dl-space-space-unit);
}
.design-workshop-text06 {
  margin-bottom: var(--dl-space-space-unit);
}
.design-workshop-text07 {
  margin-bottom: var(--dl-space-space-unit);
}
.design-workshop-company-container {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.design-workshop-text09 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.design-workshop-text10 {
  margin-bottom: var(--dl-space-space-unit);
}
.design-workshop-text11 {
  margin-bottom: var(--dl-space-space-unit);
}
.design-workshop-text12 {
  margin-bottom: var(--dl-space-space-unit);
}
.design-workshop-container17 {
  display: flex;
  align-items: flex-start;
  margin-right: 10rem;
  flex-direction: row;
  justify-content: space-between;
}
.design-workshop-product-container1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-right: 10rem;
  flex-direction: column;
  justify-content: flex-start;
}
.design-workshop-text14 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.design-workshop-text15 {
  margin-bottom: var(--dl-space-space-unit);
}
.design-workshop-text16 {
  margin-bottom: var(--dl-space-space-unit);
}
.design-workshop-text17 {
  margin-bottom: var(--dl-space-space-unit);
}
.design-workshop-company-container1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.design-workshop-text19 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.design-workshop-text20 {
  margin-bottom: var(--dl-space-space-unit);
}
.design-workshop-text21 {
  margin-bottom: var(--dl-space-space-unit);
}
.design-workshop-text22 {
  margin-bottom: var(--dl-space-space-unit);
}
.design-workshop-container18 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.design-workshop-contact {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: flex-start;
}
.design-workshop-text24 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.design-workshop-text25 {
  margin-bottom: var(--dl-space-space-unit);
}
.design-workshop-separator {
  width: 100%;
  height: 1px;
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  background-color: var(--dl-color-gray-900);
}
.design-workshop-text27 {
  align-self: center;
}
@media(max-width: 1600px) {
  .design-workshop-header {
    height: 111px;
    align-self: flex-start;
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .design-workshop-image {
    width: 90px;
    height: 80px;
  }
  .design-workshop-hero {
    background-image: url('https://img.freepik.com/free-photo/drone-conducting-survey-vibrant-green-farmland-precision-agriculture_157027-2862.jpg?t=st=1701286492~exp=1701290092~hmac=607bfbb9ad8b350cae3ba0aa7d6e8e0935c76c80fbec9e53a2f7d753f58a3f5a&w=1060');
  }
  .design-workshop-image2 {
    height: 167px;
  }
}
@media(max-width: 1280px) {
  .design-workshop-hero {
    min-height: 80vh;
  }
  .design-workshop-footer {
    flex-direction: column;
  }
  .design-workshop-container16 {
    margin-right: var(--dl-space-space-fourunits);
  }
  .design-workshop-product-container {
    margin-right: var(--dl-space-space-fourunits);
  }
  .design-workshop-container17 {
    margin-right: var(--dl-space-space-fourunits);
  }
  .design-workshop-product-container1 {
    margin-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 912px) {
  .design-workshop-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .design-workshop-nav {
    display: none;
  }
  .design-workshop-btn-group {
    display: none;
  }
  .design-workshop-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .design-workshop-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .design-workshop-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .design-workshop-container15 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .design-workshop-logo {
    align-items: center;
  }
  .design-workshop-links-container {
    width: 100%;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
  }
  .design-workshop-container16 {
    margin-right: var(--dl-space-space-fourunits);
  }
  .design-workshop-product-container {
    margin-right: var(--dl-space-space-fourunits);
  }
  .design-workshop-container17 {
    margin-right: var(--dl-space-space-fourunits);
  }
  .design-workshop-product-container1 {
    margin-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 767px) {
  .design-workshop-social-bar {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 540px) {
  .design-workshop-header {
    padding: var(--dl-space-space-unit);
  }
  .design-workshop-mobile-menu {
    padding: 16px;
  }
  .design-workshop-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .design-workshop-text {
    width: auto;
    height: 164px;
  }
  .design-workshop-button {
    padding-right: var(--dl-space-space-twounits);
  }
  .design-workshop-footer {
    padding: var(--dl-space-space-unit);
  }
  .design-workshop-container15 {
    align-items: center;
    flex-direction: column;
  }
  .design-workshop-links-container {
    align-items: center;
    flex-direction: column;
  }
  .design-workshop-container16 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .design-workshop-container17 {
    margin-right: 0px;
  }
  .design-workshop-container18 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    align-items: flex-start;
    margin-bottom: 0px;
  }
  .design-workshop-contact {
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
  }
  .design-workshop-text27 {
    text-align: center;
  }
}
@media(max-width: 479px) {
  .design-workshop-social-bar {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
}





.workshop-wrapper
{
  width: 100%;
  
  margin: 4rem 10rem;
}

.workshop-border1
{
  border: 6px solid black;
  margin: 8px;
}

.workshop-border2
{
  margin: 3px;
  border: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  padding:  1.5rem 1.5rem ;
}



.drone-workshop-heading
{
  font-size: 35px;
  padding-top: 2.5rem;
  width: 100%;
  text-align: center;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.heading-line
{
  width: 100%;
  height: 2px;
  color: black;
  background-color: black;
  margin-top: 7px;
}



.session-workshop
{
  font-size: 20px;
  font-weight: 600;
  padding: 1rem 5rem;
}

.title-heading
{
  font-size: 25px;
  font-weight: 600;
  padding-top: 20px;
}

.session-contant
{
  padding: 0 8rem;
  font-size: 16px;
  line-height: 25px;
}

.workshop-image {

  width: 100%;
  background-image: url(services1.jpg);
  background-size: contain;
  background-repeat: no-repeat;


}

.workshop-image img {
  width: 100%;
  height: 65vh;
}

.main-heading-workshop {
  font-size: 22px;
  font-weight: 600;
  padding: 1rem 0;
}


.advantages-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10rem;
}

.container-workshop {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  gap: 0.5rem 3rem;
}
.image-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2rem;
}

.image-area img {
  /* border-radius: 50%; */
  width: 400px;
  height: 250px;
  border: 2px solid black;
  /* transition: all 0.3s ease-in-out;
  transform: scale(1);
  cursor: zoom-in; */
}

/* .image-area img:hover
{
transform: scale(1.9);
z-index: 999;

} */



.advantages-title {
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  padding-top: 20px;
}

@media (min-width:0px) and (max-width:350px)
{
  .image-area img {
    /* border-radius: 50%; */
    width: 200px;
    height: 140px;
    border: 2px solid black;
  }
  
  .advantages-title {
    font-size: 15px;
  }
}

@media (min-width:350px) and (max-width:520px) {
  .workshop-border2
{
  margin: 3px;
  border: 3px solid black;
  padding:  1rem  1.3rem;
}

.workshop-wrapper
{
  width: 100%;
  margin: 0px;
}



.drone-workshop-heading
{
  font-size: 23px;
  padding: 1.1rem 0;
  font-weight: 800;
}

.main-heading-workshop
{
  font-size: 20px;
  font-weight: 800;
  padding-top: 1.1rem ;
}

.session-workshop
{
  font-size: 20px;
  font-weight: 600;
  padding: 1rem 0;
}

.session-contant
{
  padding: 0 20px;
  font-size: 16px;
  line-height: 25px;
}

.workshop-image img {
  height: 22vh;
}
.image-area img {
  /* border-radius: 50%; */
  width: 220px;
  height: 150px;
  border: 2px solid black;
}

.advantages-title {
  font-size: 18px;
}


}

@media (min-width:520px) and (max-width:912px)
{
  .workshop-wrapper
{
  width: 100%;
  margin: 1rem ;
}

.drone-workshop-heading
{
  font-size: 23px;
  padding: 1.3rem 0;
  font-weight: 800;
}
.main-heading-workshop
{
  font-size: 23px;
  font-weight: 800;
  padding-top: 1.1rem ;
}

  .workshop-image img {
    height: 28vh;
  }


  .session-workshop
{
  font-size: 20px;
  font-weight: 600;
  padding: 1rem 0;
}

.session-contant
{
  padding: 0 2.5rem;
  font-size: 16px;
  line-height: 25px;
}

.workshop-border2
{
  padding:  1.5rem  ;
}

.image-area img {
  /* border-radius: 50%; */
  width: 290px;
  height: 210px;
  border: 2px solid black;
}

.advantages-title {
  font-size: 20px;
}

}

@media (min-width:912px) and (max-width:1280px) 
{
  .workshop-wrapper
  {
    width: 100%;
    margin: 1.5rem 2rem ;
  }
  
  .drone-workshop-heading
  {
    font-size: 23px;
    padding: 1.3rem 0;
    font-weight: 800;
  }
  .main-heading-workshop
  {
    font-size: 23px;
    font-weight: 800;
    padding-top: 1.1rem ;
  }
  
    .workshop-image img {
      height: 38vh;
    }
  
  
    .session-workshop
  {
    font-size: 20px;
    font-weight: 600;
    padding: 1rem 0;
  }
  
  .session-contant
  {
    padding: 0 2.5rem;
    font-size: 16px;
    line-height: 25px;
  }
  
  .workshop-border2
  {
    padding:  1.5rem  ;
  }

  .image-area img {
    /* border-radius: 50%; */
    width: 290px;
    height: 220px;
    border: 2px solid black;
  }

  .advantages-title {
    font-size: 20px;
  }

  
}

@media (min-width:1280px) and (max-width:1400px) 
{

  .container-workshop {
 
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  gap: 0.5rem 3rem;
}

.workshop-image img {
  width: 100%;
  height: 45vh;
}

.main-heading-workshop {
  font-size: 22px;
  font-weight: 600;
  padding: 1rem 3rem;
}

.image-area img {
  /* border-radius: 50%; */
  width: 340px;
  height: 250px;
  border: 2px solid black;
}

.advantages-title {
  font-size: 19px;
}


}
@media (min-width:1400px) and (max-width:1525px)  
{
  .main-heading-workshop {
    font-size: 22px;
    font-weight: 600;
    padding: 1rem 4rem;
  }

  .image-area img {
    /* border-radius: 50%; */
    width: 390px;
    height: 300px;
    border: 2px solid black;
  }

  .advantages-title {
    font-size: 17px;
  }
}

@media (min-width:1525px)   
{
  .main-heading-workshop {
    font-size: 22px;
    font-weight: 600;
    padding: 1rem 4rem;
  }

  .image-area img {
    /* border-radius: 50%; */
    width: 470px;
    height: 300px;
    border: 2px solid black;
  }
}

