.navigation-links2-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links2-text {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
}
.navigation-links2-text1 {
  font-size: 22px;
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links2-text2 {
  font-size: 22px;
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links2-text3 {
  font-size: 22px;
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links2-text4 {
  font-size: 22px;
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links2-text5 {
  font-size: 22px;
  margin-left: var(--dl-space-space-twounits);
}



















@media(max-width: 912px) {
  .navigation-links2-nav {
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .navigation-links2-text {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links2-text1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links2-text2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links2-text3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links2-text4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links2-text5 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.testimonial-card121-testimonial-card {
  width: auto;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-twounits);
  max-width: var(--dl-size-size-maxwidth);
  background: #fff;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.testimonial-card121-testimonial-card:hover
{
  transform: scale(1.04);
  transition: all 0.4s ease-in-out;
}
.testimonial-card121-testimonial {
  width: 244px;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.testimonial-card121-image {
  width: 208px;
  height: 219px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.testimonial-card121-text {
  font-size: 1.5rem;
  margin-top: var(--dl-space-space-unit);
  font-weight: 300;
  margin-bottom: var(--dl-space-space-halfunit);
}
.testimonial-card121-text1 {
  color: var(--dl-color-gray-500);
  margin-top: var(--dl-space-space-oneandhalfunits);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  text-transform: uppercase;
}
.testimonial-card121-container {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  align-items: center;
  justify-content: center;
}
.testimonial-card121-icon {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
}
.testimonial-card121-icon2 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
}
.testimonial-card121-icon4 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
}
.testimonial-card121-icon6 {
  width: 24px;
  height: 24px;
}
.testimonial-card121-root-class-name1 {
  width: auto;
  height: auto;
  max-width: 100%;
}
.testimonial-card121-root-class-name2 {
  width: auto;
  height: auto;
  max-width: 100%;
}
@media(max-width: 1280px) {
  .testimonial-card121-text1 {
    align-self: center;
  }
}
@media(max-width: 912px) {
  .testimonial-card121-testimonial-card {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 540px) {
  .testimonial-card121-testimonial-card {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .testimonial-card121-text {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .testimonial-card121-text1 {
    margin-bottom: var(--dl-space-space-unit);
  }
}

.blog-post-card231-blog-post-card {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 4px 4px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: center;
  flex-direction: row;
}
.blog-post-card231-blog-post-card:hover {
  transform: scale(1.02);
}
.blog-post-card231-image {
  width: 350px;
  height: 350px;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 0px;
}
.blog-post-card231-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
}
.blog-post-card231-text {
  color: var(--dl-color-gray-black);
  font-size: 4em;
  font-style: normal;
  text-align: center;
  font-weight: 900;
  margin-bottom: var(--dl-space-space-twounits);
}
.blog-post-card231-text1 {
  font-size: 26px;
  font-style: normal;
  font-weight: 900;
}
.blog-post-card231-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  justify-content: center;
}
.blog-post-card231-icon {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-oneandhalfunits);
}
.blog-post-card231-icon2 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-oneandhalfunits);
}
.blog-post-card231-icon4 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-oneandhalfunits);
}
.blog-post-card231-icon6 {
  width: 24px;
  height: 24px;
}
.blog-post-card231-root-class-name {
  width: auto;
  max-width: 100%;
}
.blog-post-card231-root-class-name2 {
  width: auto;
  max-width: 100%;
}
.blog-post-card231-root-class-name3 {
  width: auto;
  max-width: 100%;
}
@media(max-width: 1600px) {
  .blog-post-card231-blog-post-card {
    width: auto;
  }
  .blog-post-card231-container {
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .blog-post-card231-text {
    color: #0a0a0a;
    font-size: 3em;
  }
  .blog-post-card231-text1 {
    font-style: normal;
    font-weight: 900;
  }
}
@media(max-width: 1280px) {
  .blog-post-card231-blog-post-card {
    flex-direction: row;
    justify-content: space-between;
  }
  .blog-post-card231-text1 {
    font-size: 26px;
    font-style: normal;
    font-weight: 900;
  }
  .blog-post-card231-root-class-name2 {
    max-width: 100%;
  }
}
@media(max-width: 912px) {
  .blog-post-card231-blog-post-card {
    flex-direction: column;
  }
  .blog-post-card231-image {
    width: 100%;
  }
  .blog-post-card231-text {
    font-size: 2em;
  }
}
@media(max-width: 540px) {
  .blog-post-card231-text {
    font-size: 2em;
  }
}

.about-us-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.about-us-container01 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.about-us-header {
  width: 100%;
  display: flex;
  max-width: 100%;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.about-us-image {
  height: 6rem;
}
.about-us-nav {
  display: flex;
}
.about-us-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.about-us-register {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 900;
  border-radius: var(--dl-radius-radius-radius8);
  text-transform: capitalize;
  background-color: rgb(0, 0, 0);
}
.about-us-burger-menu {
  display: none;
}
.about-us-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.about-us-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.about-us-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.about-us-container02 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.about-us-image1 {
  height: 2rem;
}
.about-us-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-us-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.about-us-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.about-us-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.about-us-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.about-us-container03 {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.about-us-details {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0ece5;
}
.about-us-details1 {
  width: 100%;
  display: flex;
  max-width: 100%;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: space-between;
}
.about-us-container04 {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.about-us-details-heading {
  width: 80%;
  font-size: 4rem;
  text-align: center;
  font-family: "Arial Black";
  line-height: 1.6;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.about-us-details-sub-heading {
  color: var(--dl-color-gray-800);
  font-size: 18px;
  text-align: left;
  line-height: 1.6;
  margin-bottom:40px;
  margin-top: 40px;
}
.about-us-container05 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-us-hero-button1 {
  color: var(--dl-color-gray-white);
  font-size: 18px;
  transition: 0.4s;
  font-weight: bold;
  padding-top: 1.5rem;
  border-color: var(--dl-color-primary1-blue100);
  border-width: 0px;
  padding-left: 3rem;
  border-radius: 45px;
  padding-right: 3rem;
  padding-bottom: 1.5rem;
  background-color: #151313;
}
.about-us-hero-button1:hover {
  color: var(--dl-color-gray-white);
  /* border-color: rgba(41, 20, 119, 0.9); */
  background-color: rgba(30, 30, 32, 0.9);
  transform: scale(1.04);
}
.about-us-details-image {
  width: 400px;
  height: 400px;
  object-fit: cover;
  margin-left: var(--dl-space-space-fourunits);
  border-radius: var(--dl-radius-radius-round);
}
.about-us-container06 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #f0ece5;
}
.about-us-text {
  width: auto;
  height: 59px;
  font-size: 4rem;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-fourunits);
  font-weight: 900;
  margin-left: 0px;
  margin-bottom: var(--dl-space-space-fourunits);
}
.about-us-container07 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0ece5;
}
.about-us-banner {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f0ece5;
}
.about-us-text04 {
  padding: var(--dl-space-space-twounits);
  max-width: var(--dl-size-size-maxwidth);
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  padding-top: var(--dl-space-space-threeunits);
  border-color: var(--dl-color-gray-black);
  /* border-width: 1px; */
  padding-left: var(--dl-space-space-threeunits);
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-threeunits);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.073);
	border-radius: 10px;
	font-size: 25px;
  line-height: 40px;
}

.about-us-text04:hover
{
  transform: scale(1.04);
  transition: all 0.4s ease-in-out;
}
.about-us-container08 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: center;
  background-color: #f0ece5;
}

.about-us-text20 {
  width: auto;
  height: 59px;
  font-size: 4rem;
  align-self: center;
  font-style: normal;
  font-weight: 900;
  margin-left: var(--dl-space-space-twounits);
}
.about-us-container09 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.about-us-container10 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0ece5;
}
.about-us-testimonial {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  
 
}
.about-us-testimonial1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  
}
.about-us-container11 {
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.about-us-icon10 {
  width: var(--dl-size-size-small);
  margin-bottom: -6rem;
}
.about-us-text21 {
  font-size: 1.15rem;
  max-width: 600px;
  margin-top: var(--dl-space-space-threeunits);
  text-align: center;
  padding-left: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-twounits);
  
  font-size: 25px;
  
}
.about-us-container12 {
  display: flex;
  align-self: flex-end;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.about-us-icon12 {
  width: var(--dl-size-size-small);
  margin-top: -6rem;
}
.about-us-text24 {
  font-size: 1.5rem;
  max-width: 600px;
  text-align: center;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.about-us-text29 {
  max-width: 600px;
  text-align: center;
  font-weight: 600;
}
.about-us-text30 {
  color: var(--dl-color-gray-500);
  font-style: normal;
  font-weight: 500;
}
.about-us-container13 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0ece5;
}
.about-us-text31 {
  font-size: 4em;
  font-style: normal;
  margin-top: var(--dl-space-space-threeunits);
  font-weight: 900;
  margin-bottom: var(--dl-space-space-threeunits);
}
.about-us-container14 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.about-us-banner1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f0ece5;
  line-height: 40px;
  
 
  
}
.about-us-text32 {
  padding: var(--dl-space-space-twounits);
  max-width: var(--dl-size-size-maxwidth);
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  padding-top: var(--dl-space-space-threeunits);
  border-color: var(--dl-color-gray-black);
  /* border-width: 1px; */
  padding-left: var(--dl-space-space-threeunits);
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-threeunits);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.073);
  border-radius: 10px;
  font-size: 25px;
  /* line height:40px; */
  
}

.about-us-text32:hover
{
  transform: scale(1.04);
  transition: all 0.4s ease-in-out;
}
.about-us-container15 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.about-us-container16 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0ece5;
}
.about-us-text48 {
  font-size: 4em;
  font-style: normal;
  margin-top: var(--dl-space-space-threeunits);
  font-weight: 900;
  margin-bottom: var(--dl-space-space-threeunits);
}
.about-us-container17 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 40px;
}
.about-us-banner2 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f0ece5;
  /* line height:40px; */
  
}
.about-us-text49 {
  padding: var(--dl-space-space-twounits);
  max-width: var(--dl-size-size-maxwidth);
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  padding-top: var(--dl-space-space-threeunits);
  border-color: var(--dl-color-gray-black);
  /* border-width: 1px; */
  padding-left: var(--dl-space-space-threeunits);
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-threeunits);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.073);
	border-radius: 10px;
	font-size: 25px;
 
  
}

.about-us-text49:hover
{
  transform: scale(1.04);
  transition: all 0.4s ease-in-out;
}
.about-us-container18 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.about-us-container19 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  flex-wrap: wrap;
  max-width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #f0ece5;
}
.about-us-container20 {
  width: 100%;
  display: grid;
  z-index: 100;
  grid-gap: var(--dl-space-space-sixunits);
  align-self: center;
  border-radius: var(--dl-radius-radius-radius4);
  grid-template-columns: 1fr 1fr ;
}
.about-us-container21 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #f0ece5;
}
.about-us-text65 {
  font-size: 4em;
  font-style: normal;
  font-weight: 900;
  padding-top: var(--dl-space-space-fourunits);
  padding-bottom: var(--dl-space-space-fourunits);
}
.about-us-container22 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.about-us-blog {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #f0ece5;
}
.about-us-container23 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.about-us-container24 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.about-us-container25 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.about-us-container26 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0ece5;
}
.about-us-text66 {
  font-size: 4em;
  font-style: normal;
  margin-top: var(--dl-space-space-fourunits);
  font-weight: 900;
  margin-bottom: var(--dl-space-space-fourunits);
}
.about-us-container27 {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.about-us-container28 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.about-us-social-bar {
  width: 100%;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  justify-content: center;
  background-color: #F1EAFF;
}
.about-us-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.about-us-icon16 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.about-us-icon18 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.about-us-icon20 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.about-us-icon22 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.about-us-container29 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.about-us-footer {
  width: 100%;
  display: flex;
  max-width: 100%;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.about-us-container30 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.about-us-logo {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
}
.about-us-image2 {
  width: 200px;
  object-fit: cover;
}
.about-us-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.about-us-container31 {
  display: flex;
  align-items: flex-start;
  margin-right: 10rem;
  flex-direction: row;
  justify-content: space-between;
}
.about-us-product-container {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-right: 10rem;
  flex-direction: column;
  justify-content: flex-start;
}
.about-us-text67 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.about-us-text68 {
  margin-bottom: var(--dl-space-space-unit);
}
.about-us-text69 {
  margin-bottom: var(--dl-space-space-unit);
}
.about-us-text70 {
  margin-bottom: var(--dl-space-space-unit);
}
.about-us-company-container {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.about-us-text72 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.about-us-text73 {
  margin-bottom: var(--dl-space-space-unit);
}
.about-us-text74 {
  margin-bottom: var(--dl-space-space-unit);
}
.about-us-text75 {
  margin-bottom: var(--dl-space-space-unit);
}
.about-us-container32 {
  display: flex;
  align-items: flex-start;
  margin-right: 10rem;
  flex-direction: row;
  justify-content: space-between;
}
.about-us-product-container1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-right: 10rem;
  flex-direction: column;
  justify-content: flex-start;
}
.about-us-text77 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.about-us-text78 {
  margin-bottom: var(--dl-space-space-unit);
}
.about-us-text79 {
  margin-bottom: var(--dl-space-space-unit);
}
.about-us-text80 {
  margin-bottom: var(--dl-space-space-unit);
}
.about-us-company-container1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.about-us-text82 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.about-us-text83 {
  margin-bottom: var(--dl-space-space-unit);
}
.about-us-text84 {
  margin-bottom: var(--dl-space-space-unit);
}
.about-us-text85 {
  margin-bottom: var(--dl-space-space-unit);
}
.about-us-container33 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.about-us-contact {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: flex-start;
}
.about-us-text87 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.about-us-text88 {
  margin-bottom: var(--dl-space-space-unit);
}
.about-us-separator {
  width: 100%;
  height: 1px;
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  background-color: var(--dl-color-gray-900);
}
.about-us-text90 {
  align-self: center;
}
@media(max-width: 1600px) {
  .about-us-header {
    height: 111px;
    align-self: flex-start;
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .about-us-image {
    width: 85px;
    height: 80px;
  }
  .about-us-container06 {
    flex-wrap: wrap;
    background-color: #f0ece5;
  }
  .about-us-container07 {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #f0ece5;
  }
  .about-us-banner {
    padding: var(--dl-space-space-twounits);
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #f0ece5;
  }
  .about-us-text04 {
    margin: var(--dl-space-space-unit);
    max-width: 100%;
    margin-top: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-halfunit);
    padding-top: var(--dl-space-space-unit);
    border-color: var(--dl-color-gray-black);
    margin-right: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-unit);
    border-radius: var(--dl-radius-radius-radius2);
    margin-bottom: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .about-us-container10 {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #f0ece5;
  }
  .about-us-banner1 {
    padding: var(--dl-space-space-twounits);
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #f0ece5;
  }
  .about-us-text32 {
    margin: var(--dl-space-space-unit);
    max-width: 100%;
    margin-top: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-halfunit);
    padding-top: var(--dl-space-space-unit);
    border-color: var(--dl-color-gray-black);
  
    margin-right: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-unit);
    border-radius: var(--dl-radius-radius-radius2);
    margin-bottom: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .about-us-container17 {
    height: auto;
    align-items: center;
    justify-content: center;
  }
  .about-us-banner2 {
    padding: var(--dl-space-space-twounits);
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #f0ece5;
  }
  .about-us-text49 {
    margin: var(--dl-space-space-unit);
    max-width: 100%;
    margin-top: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-halfunit);
    padding-top: var(--dl-space-space-unit);
    border-color: var(--dl-color-gray-black);
    margin-right: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-unit);
    border-radius: var(--dl-radius-radius-radius2);
    margin-bottom: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .about-us-container21 {
    height: auto;
    align-items: center;
    justify-content: center;
    background-color: #f0ece5;
  }
  .about-us-text65 {
    font-size: 4em;
    font-style: normal;
    margin-top: var(--dl-space-space-fourunits);
    font-weight: 900;
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .about-us-blog {
    background-color: #f0ece5;
  }
  .about-us-container25 {
    height: auto;
  }
  .about-us-container26 {
    height: auto;
    align-items: center;
    justify-content: center;
    background-color: #f0ece5;
  }
  .about-us-text66 {
    font-size: 4em;
    font-style: normal;
    margin-top: var(--dl-space-space-fourunits);
    font-weight: 900;
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .about-us-container27 {
    height: var(--dl-size-size-xlarge);
  }
  .about-us-social-bar {
    padding: var(--dl-space-space-twounits);
    background-color: #F1EAFF;
  }
  .about-us-icon20 {
    width: 16px;
    height: 17px;
    margin-right: var(--dl-space-space-twounits);
  }
  .about-us-image2 {
    height: 167px;
  }
}
@media(max-width: 1280px) {
  .about-us-details-sub-heading {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .about-us-container06 {
    background-color: #f0ece5;
  }
  .about-us-container07 {
    align-items: center;
    justify-content: center;
    background-color: #f0ece5;
  }
  .about-us-text04 {
    padding: var(--dl-space-space-unit);
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .about-us-container10 {
    align-items: center;
    justify-content: center;
    background-color: #f0ece5;
  }
  .about-us-text32 {
    padding: var(--dl-space-space-unit);
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .about-us-container15 {
    height: auto;
  }
  .about-us-text49 {
    padding: var(--dl-space-space-unit);
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .about-us-container19 {
    height: 1071px;
  }
  .about-us-container20 {
    grid-template-columns: 1fr;
  }
  .about-us-footer {
    flex-direction: column;
  }
  .about-us-container31 {
    margin-right: var(--dl-space-space-fourunits);
  }
  .about-us-product-container {
    margin-right: var(--dl-space-space-fourunits);
  }
  .about-us-container32 {
    margin-right: var(--dl-space-space-fourunits);
  }
  .about-us-product-container1 {
    margin-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 991px) {
  .about-us-text04 {
    max-width: 100%;
  }
  .about-us-text21 {
    margin-top: var(--dl-space-space-threeunits);
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .about-us-text32 {
    max-width: 100%;
  }
  .about-us-text49 {
    max-width: 100%;
  }
}
@media(max-width: 912px) {
  .about-us-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .about-us-nav {
    display: none;
  }
  .about-us-btn-group {
    display: none;
  }
  .about-us-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .about-us-details1 {
    align-items: center;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    flex-direction: column;
    justify-content: center;
  }
  .about-us-container04 {
    align-items: center;
    justify-content: flex-start;
  }
  .about-us-details-heading {
    text-align: center;
  }
  .about-us-details-sub-heading {
    text-align: center;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .about-us-details-image {
    margin-top: var(--dl-space-space-threeunits);
    margin-left: 0px;
  }
  .about-us-container06 {
    background-color: #f0ece5;
  }
  .about-us-container07 {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #f0ece5;
  }
  .about-us-text04 {
    padding: var(--dl-space-space-unit);
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
  .about-us-container10 {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #f0ece5;
  }
  .about-us-text32 {
    padding: var(--dl-space-space-unit);
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
  .about-us-text49 {
    padding: var(--dl-space-space-unit);
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
  .about-us-container19 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .about-us-blog {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .about-us-social-bar {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .about-us-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .about-us-container30 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .about-us-logo {
    align-items: center;
  }
  .about-us-links-container {
    width: 100%;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
  }
  .about-us-container31 {
    margin-right: var(--dl-space-space-fourunits);
  }
  .about-us-product-container {
    margin-right: var(--dl-space-space-fourunits);
  }
  .about-us-container32 {
    margin-right: var(--dl-space-space-fourunits);
  }
  .about-us-product-container1 {
    margin-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 767px) {
  .about-us-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .about-us-text04 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .about-us-testimonial {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .about-us-banner1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .about-us-text32 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .about-us-banner2 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .about-us-text49 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 540px) {
  .about-us-header {
    padding: var(--dl-space-space-unit);
  }
  .about-us-mobile-menu {
    padding: 16px;
  }
  .about-us-container03 {
    width: 100%;
    height: auto;
  }
  .about-us-container04 {
    align-items: center;
    justify-content: center;
  }
  .about-us-details-image {
    width: 300px;
    height: 300px;
  }
  .about-us-container06 {
    background-color: #f0ece5;
  }
  .about-us-container07 {
    align-items: center;
    justify-content: center;
  }
  .about-us-text04 {
    margin-top: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-halfunit);
    padding-top: var(--dl-space-space-oneandhalfunits);
    margin-right: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .about-us-container10 {
    align-items: center;
    justify-content: center;
  }
  .about-us-icon10 {
    width: var(--dl-size-size-xsmall);
    margin-top: -3rem;
    margin-bottom: -3rem;
  }
  .about-us-text21 {
    max-width: auto;
    margin-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-halfunit);
  }
  .about-us-icon12 {
    width: var(--dl-size-size-xsmall);
    margin-top: -2rem;
  }
  .about-us-text32 {
    margin-top: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-halfunit);
    padding-top: var(--dl-space-space-oneandhalfunits);
    margin-right: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .about-us-text49 {
    margin-top: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-halfunit);
    padding-top: var(--dl-space-space-oneandhalfunits);
    margin-right: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .about-us-container19 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .about-us-blog {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .about-us-social-bar {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .about-us-footer {
    padding: var(--dl-space-space-unit);
  }
  .about-us-container30 {
    align-items: center;
    flex-direction: column;
  }
  .about-us-links-container {
    align-items: center;
    flex-direction: column;
  }
  .about-us-container31 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .about-us-container32 {
    margin-right: 0px;
  }
  .about-us-container33 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    align-items: flex-start;
    margin-bottom: 0px;
  }
  .about-us-contact {
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
  }
  .about-us-text90 {
    text-align: center;
  }
}
@media(max-width: 479px) {
  .about-us-banner {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .about-us-testimonial {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .about-us-icon10 {
    margin-bottom: 0px;
  }
  .about-us-text21 {
    width: auto;
  }
  .about-us-icon12 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .about-us-banner1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .about-us-banner2 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
}
