.navigation-links2-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.navigation-links2-text {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
}

.navigation-links2-text1 {
  font-size: 22px;
  margin-left: var(--dl-space-space-twounits);
}

.navigation-links2-text2 {
  font-size: 22px;
  margin-left: var(--dl-space-space-twounits);
}

.navigation-links2-text3 {
  font-size: 22px;
  margin-left: var(--dl-space-space-twounits);
}

.navigation-links2-text4 {
  font-size: 22px;
  margin-left: var(--dl-space-space-twounits);
}

.navigation-links2-text5 {
  font-size: 22px;
  margin-left: var(--dl-space-space-twounits);
}





























@media(max-width: 912px) {
  .navigation-links2-nav {
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .navigation-links2-text {
    margin-bottom: var(--dl-space-space-unit);
  }

  .navigation-links2-text1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }

  .navigation-links2-text2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }

  .navigation-links2-text3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }

  .navigation-links2-text4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }

  .navigation-links2-text5 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.droneservices-container {
  width: 100%;
  display: flex;
  overflow-x: hidden;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.droneservices-container01 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}

.droneservices-header {
  width: 100%;
  display: flex;
  max-width: 100%;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}

.droneservices-image {
  height: 3rem;
}

.droneservices-nav {
  display: flex;
}

.droneservices-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.droneservices-register {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 900;
  border-radius: var(--dl-radius-radius-radius8);
  text-transform: capitalize;
  background-color: rgb(0, 0, 0);
}

.droneservices-burger-menu {
  display: none;
}

.droneservices-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}

.droneservices-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}

.droneservices-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.droneservices-container02 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}

.droneservices-image1 {
  height: 2rem;
}

.droneservices-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}

.droneservices-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}

.droneservices-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}

.droneservices-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}

.droneservices-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}

.droneservices-container03 {
  flex: 0 0 auto;
  width: 100%;
  /* border: 2px dashed rgba(120, 120, 120, 0.4); */
  height: 100px;
  display: flex;
  align-items: flex-start;
}

.droneservices-hero {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url('https://img.freepik.com/free-photo/drone-conducting-survey-vibrant-green-farmland-precision-agriculture_157027-2862.jpg?t=st=1701286492~exp=1701290092~hmac=607bfbb9ad8b350cae3ba0aa7d6e8e0935c76c80fbec9e53a2f7d753f58a3f5a&w=1060');
  background-position: center;
}

.droneservices-text {
  color: var(--dl-color-gray-white);
  width: 640px;
  height: 67px;
  font-size: 3rem;
  max-width: auto;
  font-style: normal;
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  font-weight: 700;
  margin-bottom: 12px;
}

.droneservices-button {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}

.droneservices-button:hover {
  transform: scale(1.02);
}

.droneservices-container04 {
  flex: 0 0 auto;
  width: 100%;
  /* border: 2px dashed rgba(120, 120, 120, 0.4); */
  height: auto;
  display: flex;
  align-items: flex-start;
}

.droneservices-container05 {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  align-items: flex-start;
}

.droneservices-container06 {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  align-items: flex-start;
}

.droneservices-container07 {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  align-items: flex-start;
}

.droneservices-container08 {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  align-items: flex-start;
}

.droneservices-container09 {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  align-items: flex-start;
}

.droneservices-container10 {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  align-items: flex-start;
}

.droneservices-container11 {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  align-items: flex-start;
}

.droneservices-container12 {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  align-items: flex-start;
}

.droneservices-social-bar {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  justify-content: center;
}

.droneservices-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}

.droneservices-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}

.droneservices-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}

.droneservices-icon16 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}

.droneservices-icon18 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}

.droneservices-container13 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.droneservices-container14 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}

.droneservices-footer {
  width: 100%;
  display: flex;
  max-width: 100%;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}

.droneservices-container15 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}

.droneservices-logo {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
}

.droneservices-image2 {
  width: 200px;
  object-fit: cover;
}

.droneservices-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}

.droneservices-container16 {
  display: flex;
  align-items: flex-start;
  margin-right: 10rem;
  flex-direction: row;
  justify-content: space-between;
}

.droneservices-product-container {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-right: 10rem;
  flex-direction: column;
  justify-content: flex-start;
}

.droneservices-text04 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}

.droneservices-text05 {
  margin-bottom: var(--dl-space-space-unit);
}

.droneservices-text06 {
  margin-bottom: var(--dl-space-space-unit);
}

.droneservices-text07 {
  margin-bottom: var(--dl-space-space-unit);
}

.droneservices-company-container {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.droneservices-text09 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}

.droneservices-text10 {
  margin-bottom: var(--dl-space-space-unit);
}

.droneservices-text11 {
  margin-bottom: var(--dl-space-space-unit);
}

.droneservices-text12 {
  margin-bottom: var(--dl-space-space-unit);
}

.droneservices-container17 {
  display: flex;
  align-items: flex-start;
  margin-right: 10rem;
  flex-direction: row;
  justify-content: space-between;
}

.droneservices-product-container1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-right: 10rem;
  flex-direction: column;
  justify-content: flex-start;
}

.droneservices-text14 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}

.droneservices-text15 {
  margin-bottom: var(--dl-space-space-unit);
}

.droneservices-text16 {
  margin-bottom: var(--dl-space-space-unit);
}

.droneservices-text17 {
  margin-bottom: var(--dl-space-space-unit);
}

.droneservices-company-container1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.droneservices-text19 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}

.droneservices-text20 {
  margin-bottom: var(--dl-space-space-unit);
}

.droneservices-text21 {
  margin-bottom: var(--dl-space-space-unit);
}

.droneservices-text22 {
  margin-bottom: var(--dl-space-space-unit);
}

.droneservices-container18 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.droneservices-contact {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: flex-start;
}

.droneservices-text24 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}

.droneservices-text25 {
  margin-bottom: var(--dl-space-space-unit);
}

.droneservices-separator {
  width: 100%;
  height: 1px;
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  background-color: var(--dl-color-gray-900);
}

.droneservices-text27 {
  align-self: center;
}

@media(max-width: 1600px) {
  .droneservices-header {
    height: 111px;
    align-self: flex-start;
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }

  .droneservices-image {
    width: 90px;
    height: 80px;
  }

  .droneservices-hero {
    background-image: url('https://img.freepik.com/free-photo/drone-conducting-survey-vibrant-green-farmland-precision-agriculture_157027-2862.jpg?t=st=1701286492~exp=1701290092~hmac=607bfbb9ad8b350cae3ba0aa7d6e8e0935c76c80fbec9e53a2f7d753f58a3f5a&w=1060');
  }

  .droneservices-image2 {
    height: 167px;
  }
}

@media(max-width: 1280px) {
  .droneservices-hero {
    min-height: 80vh;
  }

  .droneservices-footer {
    flex-direction: column;
  }

  .droneservices-container16 {
    margin-right: var(--dl-space-space-fourunits);
  }

  .droneservices-product-container {
    margin-right: var(--dl-space-space-fourunits);
  }

  .droneservices-container17 {
    margin-right: var(--dl-space-space-fourunits);
  }

  .droneservices-product-container1 {
    margin-right: var(--dl-space-space-fourunits);
  }
}

@media(max-width: 912px) {
  .droneservices-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }

  .droneservices-nav {
    display: none;
  }

  .droneservices-btn-group {
    display: none;
  }

  .droneservices-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .droneservices-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }

  .droneservices-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }

  .droneservices-container15 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }

  .droneservices-logo {
    align-items: center;
  }

  .droneservices-links-container {
    width: 100%;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
  }

  .droneservices-container16 {
    margin-right: var(--dl-space-space-fourunits);
  }

  .droneservices-product-container {
    margin-right: var(--dl-space-space-fourunits);
  }

  .droneservices-container17 {
    margin-right: var(--dl-space-space-fourunits);
  }

  .droneservices-product-container1 {
    margin-right: var(--dl-space-space-fourunits);
  }
}

@media(max-width: 767px) {
  .droneservices-social-bar {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}

@media(max-width: 540px) {
  .droneservices-header {
    padding: var(--dl-space-space-unit);
  }

  .droneservices-mobile-menu {
    padding: 16px;
  }

  .droneservices-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }

  .droneservices-text {
    width: auto;
    height: 164px;
  }

  .droneservices-button {
    padding-right: var(--dl-space-space-twounits);
  }

  .droneservices-footer {
    padding: var(--dl-space-space-unit);
  }

  .droneservices-container15 {
    align-items: center;
    flex-direction: column;
  }

  .droneservices-links-container {
    align-items: center;
    flex-direction: column;
  }

  .droneservices-container16 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }

  .droneservices-container17 {
    margin-right: 0px;
  }

  .droneservices-container18 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    align-items: flex-start;
    margin-bottom: 0px;
  }

  .droneservices-contact {
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
  }

  .droneservices-text27 {
    text-align: center;
  }
}

@media(max-width: 479px) {
  .droneservices-social-bar {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
}


.services-wrapper {
  width: 100%;
  margin: 4rem 8rem;
}

.services-border1 {
  border: 6px solid black;
}

.services-border2 {
  margin: 3px;
  border: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.5rem 1.5rem;
}

.drone-services-heading {
  font-size: 35px;
  padding-top: 2.5rem;
  width: auto;
  text-align: center;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.heading-line {
  width: 100%;
  height: 2px;
  color: black;
  background-color: black;
  margin-top: 7px;
  text-align: center;
}

.main-heading-services {
  font-size: 35px;
  font-weight: 600;
  padding: 1rem 5rem;
}

.session-services {
  font-size: 20px;
  /* font-weight: 600; */
  padding: 3rem ;
  line-height: 2rem;
  text-align: justify;

}

.session-contant {
  padding: 0 8rem;
  font-size: 20px;
  line-height: 25px;
}

.services-image {

  width: 100%;
  background-image: url(services1.jpg);
  background-size: contain;
  background-repeat: no-repeat;


}

.services-image img {
  width: 100%;
  height: 50vh;
}

.advantages-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 8rem;
}

.image-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2rem;
}

.image-area img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.advantages-title {
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  padding-top: 20px;
}

.container-services {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 0px auto;
  grid-auto-flow: row;
  grid-template-areas:
    ". . ."
    ". . .";
  height: auto;
  width: 100%;
  /* display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  flex-wrap: wrap; */
}





@media (max-width:520px) {
  .services-border2 {
    margin: 3px;
    border: 3px solid black;

    padding: 1rem;
  }

  .services-wrapper {
    width: 100%;
    margin: 0rem;
  }

  .heading-line {
    width: 100%;

  }

  .drone-services-heading {
    font-size: 23px;
    padding: 1.1rem 0;
    font-weight: 800;
  }

  .main-heading-services {
    font-size: 23px;
    font-weight: 800;
    text-align: center;


  }

  .session-services {
    font-size: 18px;
    font-weight: 600;
    padding: 1rem 1rem;
  }

  .session-contant {
    padding: 0 20px;
    font-size: 16px;
    line-height: 25px;
  }

  .advantages-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

  }

  .image-area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0.5rem;
    padding: 10px;
  }

  .image-area img {
    border-radius: 50%;
    width: 65px;
    height: 65px;
  }

  .advantages-title {
    font-size: 11px;
    font-weight: 600;
    text-align: center;
    padding-top: 10px;
  }

  .services-image img {
    width: 100%;
    height: auto;
  }
}


@media (min-width:520px) and (max-width:912px) {
  .services-border2 {
    margin: 3px;
    border: 3px solid black;

    padding: 1rem;
  }

  .services-wrapper {
    width: 100%;
    margin: 0.8rem;
  }



  .drone-services-heading {
    font-size: 23px;
    padding: 1.1rem 0;
    font-weight: 800;
  }

  .main-heading-services {
    font-size: 23px;
    font-weight: 800;
    text-align: center;


  }

  .session-services {
    font-size: 20px;
    font-weight: 600;
    padding: 1rem 1rem;
  }

  .session-contant {
    padding: 0 20px;
    font-size: 16px;
    line-height: 25px;
  }

  .advantages-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

  }

  .image-area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0.5rem;
    padding: 10px;
  }

  .image-area img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
  }

  .advantages-title {
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    padding-top: 10px;
  }

  .services-image img {
    width: 100%;
    height: auto;
  }
}



@media (min-width:912px) and (max-width:1280px) {

  .services-wrapper {
    width: 100%;
    margin: 3rem 5rem;
  }

  .services-border2 {
    margin: 3px;
    border: 3px solid black;
    padding: 1rem;
  }



  .drone-services-heading {
    font-size: 23px;
    padding: 1.1rem 0;
    font-weight: 800;
  }

  .main-heading-services {
    font-size: 23px;
    font-weight: 800;
    text-align: center;
    padding: 1rem ;

  }

  .session-services {
    font-size: 20px;
    font-weight: 600;
    padding: 1rem 1rem;
  }

  .session-contant {
    padding: 0 20px;
    font-size: 16px;
    line-height: 25px;
  }

  .advantages-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

  }

  .image-area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0.5rem;
    padding: 10px;
  }

  .image-area img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }

  .advantages-title {
    font-size: 17px;
    font-weight: 600;
    text-align: center;
    padding-top: 10px;
  }

  .services-image img {
    width: 100%;
    height: 45vh;
  }
}