.navigation-links2-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links2-text {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
}
.navigation-links2-text1 {
  font-size: 22px;
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links2-text2 {
  font-size: 22px;
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links2-text3 {
  font-size: 22px;
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links2-text4 {
  font-size: 22px;
  margin-left: var(--dl-space-space-twounits);
}



















@media(max-width: 767px) {
  .navigation-links2-nav {
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .navigation-links2-text {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links2-text1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links2-text2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links2-text3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links2-text4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.gallary-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.gallary-container01 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.gallary-header {
  width: 100%;
  display: flex;
  max-width: 100%;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.gallary-image {
  height: 3rem;
}
.gallary-nav {
  display: flex;
}
.gallary-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.gallary-register {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 900;
  border-radius: var(--dl-radius-radius-radius8);
  text-transform: capitalize;
  background-color: rgb(0, 0, 0);
}
.gallary-burger-menu {
  display: none;
}
.gallary-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.gallary-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.gallary-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.gallary-container02 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.gallary-image01 {
  height: 2rem;
}
.gallary-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallary-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.gallary-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.gallary-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.gallary-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.gallary-container03 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.gallary-hero {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  max-width: 100%;
  min-height: 60vh;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.gallary-image02 {
  width: 452px;
  object-fit: cover;
}
.gallary-container04 {
  display: flex;
  margin-left: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.gallary-text {
  font-size: 3rem;
}
.gallary-text001 {
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-threeunits);
}
.gallary-container05 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.gallary-hero01 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: 100%;
  min-height: 80vh;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.gallary-container06 {
  display: flex;
  margin-right: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.gallary-text012 {
  font-size: 3rem;
  max-width: 450px;
}
.gallary-text013 {
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
}
.gallary-btn-group01 {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.gallary-button {
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
}
.gallary-button:hover {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-gray-black);
}
.gallary-button01 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-unit);
  border-color: transparent;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
}
.gallary-button01:hover {
  border-color: var(--dl-color-gray-black);
}
.gallary-image03 {
  width: 400px;
  object-fit: cover;
}
.gallary-container07 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.gallary-hero02 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  max-width: 100%;
  min-height: 80vh;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.gallary-image04 {
  width: 452px;
  object-fit: cover;
}
.gallary-container08 {
  display: flex;
  margin-left: var(--dl-space-space-twounits);
  flex-direction: column;
}
.gallary-text020 {
  font-size: 3rem;
}
.gallary-text021 {
  margin-top: var(--dl-space-space-unit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.gallary-btn-group02 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.gallary-button02 {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
.gallary-button02:hover {
  transform: scale(1.02);
}
.gallary-button03 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
}
.gallary-button03:hover {
  transform: scale(1.02);
}
.gallary-text022 {
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-threeunits);
}
.gallary-container09 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.gallary-hero03 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: 100%;
  min-height: 80vh;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.gallary-container10 {
  display: flex;
  margin-right: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.gallary-text036 {
  font-size: 3rem;
  max-width: 450px;
}
.gallary-text037 {
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
}
.gallary-btn-group03 {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.gallary-button04 {
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
}
.gallary-button04:hover {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-gray-black);
}
.gallary-button05 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-unit);
  border-color: transparent;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
}
.gallary-button05:hover {
  border-color: var(--dl-color-gray-black);
}
.gallary-image05 {
  width: 400px;
  object-fit: cover;
}
.gallary-container11 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.gallary-hero04 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  max-width: 100%;
  min-height: 80vh;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.gallary-image06 {
  width: 452px;
  object-fit: cover;
}
.gallary-container12 {
  display: flex;
  margin-left: var(--dl-space-space-twounits);
  flex-direction: column;
}
.gallary-text044 {
  font-size: 3rem;
}
.gallary-text045 {
  margin-top: var(--dl-space-space-unit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.gallary-btn-group04 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.gallary-button06 {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
.gallary-button06:hover {
  transform: scale(1.02);
}
.gallary-button07 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
}
.gallary-button07:hover {
  transform: scale(1.02);
}
.gallary-text046 {
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-threeunits);
}
.gallary-container13 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.gallary-hero05 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: 100%;
  min-height: 80vh;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.gallary-container14 {
  display: flex;
  margin-right: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.gallary-text060 {
  font-size: 3rem;
  max-width: 450px;
}
.gallary-text061 {
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
}
.gallary-btn-group05 {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.gallary-button08 {
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
}
.gallary-button08:hover {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-gray-black);
}
.gallary-button09 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-unit);
  border-color: transparent;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
}
.gallary-button09:hover {
  border-color: var(--dl-color-gray-black);
}
.gallary-image07 {
  width: 400px;
  object-fit: cover;
}
.gallary-container15 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.gallary-hero06 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  max-width: 100%;
  min-height: 80vh;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.gallary-image08 {
  width: 452px;
  object-fit: cover;
}
.gallary-container16 {
  display: flex;
  margin-left: var(--dl-space-space-twounits);
  flex-direction: column;
}
.gallary-text068 {
  font-size: 3rem;
}
.gallary-text069 {
  margin-top: var(--dl-space-space-unit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.gallary-btn-group06 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.gallary-button10 {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
.gallary-button10:hover {
  transform: scale(1.02);
}
.gallary-button11 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
}
.gallary-button11:hover {
  transform: scale(1.02);
}
.gallary-text070 {
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-threeunits);
}
.gallary-container17 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.gallary-hero07 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: 100%;
  min-height: 80vh;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.gallary-container18 {
  display: flex;
  margin-right: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.gallary-text084 {
  font-size: 3rem;
  max-width: 450px;
}
.gallary-text085 {
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
}
.gallary-btn-group07 {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.gallary-button12 {
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
}
.gallary-button12:hover {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-gray-black);
}
.gallary-button13 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-unit);
  border-color: transparent;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
}
.gallary-button13:hover {
  border-color: var(--dl-color-gray-black);
}
.gallary-image09 {
  width: 400px;
  object-fit: cover;
}
.gallary-container19 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.gallary-hero08 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  max-width: 100%;
  min-height: 80vh;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.gallary-image10 {
  width: 452px;
  object-fit: cover;
}
.gallary-container20 {
  display: flex;
  margin-left: var(--dl-space-space-twounits);
  flex-direction: column;
}
.gallary-text092 {
  font-size: 3rem;
}
.gallary-text093 {
  margin-top: var(--dl-space-space-unit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.gallary-btn-group08 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.gallary-button14 {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
.gallary-button14:hover {
  transform: scale(1.02);
}
.gallary-button15 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
}
.gallary-button15:hover {
  transform: scale(1.02);
}
.gallary-text094 {
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-threeunits);
}
.gallary-container21 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.gallary-hero09 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: 100%;
  min-height: 80vh;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.gallary-container22 {
  display: flex;
  margin-right: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.gallary-text108 {
  font-size: 3rem;
  max-width: 450px;
}
.gallary-text109 {
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
}
.gallary-btn-group09 {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.gallary-button16 {
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
}
.gallary-button16:hover {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-gray-black);
}
.gallary-button17 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-unit);
  border-color: transparent;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
}
.gallary-button17:hover {
  border-color: var(--dl-color-gray-black);
}
.gallary-image11 {
  width: 400px;
  object-fit: cover;
}
.gallary-container23 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.gallary-container24 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.gallary-hero10 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  max-width: 100%;
  min-height: 80vh;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.gallary-image12 {
  width: 452px;
  object-fit: cover;
}
.gallary-container25 {
  display: flex;
  margin-left: var(--dl-space-space-twounits);
  flex-direction: column;
}
.gallary-text116 {
  font-size: 3rem;
}
.gallary-text117 {
  margin-top: var(--dl-space-space-unit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.gallary-btn-group10 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.gallary-button18 {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
.gallary-button18:hover {
  transform: scale(1.02);
}
.gallary-button19 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
}
.gallary-button19:hover {
  transform: scale(1.02);
}
.gallary-text118 {
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-threeunits);
}
.gallary-container26 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.gallary-social-bar {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  justify-content: center;
}
.gallary-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.gallary-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.gallary-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.gallary-icon16 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.gallary-icon18 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.gallary-container27 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.gallary-footer {
  width: 100%;
  display: flex;
  max-width: 100%;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.gallary-container28 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.gallary-logo {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
}
.gallary-image13 {
  width: 200px;
  object-fit: cover;
}
.gallary-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.gallary-container29 {
  display: flex;
  align-items: flex-start;
  margin-right: 10rem;
  flex-direction: row;
  justify-content: space-between;
}
.gallary-product-container {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-right: 10rem;
  flex-direction: column;
  justify-content: flex-start;
}
.gallary-text132 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.gallary-text133 {
  margin-bottom: var(--dl-space-space-unit);
}
.gallary-text134 {
  margin-bottom: var(--dl-space-space-unit);
}
.gallary-text135 {
  margin-bottom: var(--dl-space-space-unit);
}
.gallary-company-container {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.gallary-text137 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.gallary-text138 {
  margin-bottom: var(--dl-space-space-unit);
}
.gallary-text139 {
  margin-bottom: var(--dl-space-space-unit);
}
.gallary-text140 {
  margin-bottom: var(--dl-space-space-unit);
}
.gallary-container30 {
  display: flex;
  align-items: flex-start;
  margin-right: 10rem;
  flex-direction: row;
  justify-content: space-between;
}
.gallary-product-container1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-right: 10rem;
  flex-direction: column;
  justify-content: flex-start;
}
.gallary-text142 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.gallary-text143 {
  margin-bottom: var(--dl-space-space-unit);
}
.gallary-text144 {
  margin-bottom: var(--dl-space-space-unit);
}
.gallary-text145 {
  margin-bottom: var(--dl-space-space-unit);
}
.gallary-company-container1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.gallary-text147 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.gallary-text148 {
  margin-bottom: var(--dl-space-space-unit);
}
.gallary-text149 {
  margin-bottom: var(--dl-space-space-unit);
}
.gallary-text150 {
  margin-bottom: var(--dl-space-space-unit);
}
.gallary-container31 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.gallary-contact {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: flex-start;
}
.gallary-text152 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.gallary-text153 {
  margin-bottom: var(--dl-space-space-unit);
}
.gallary-separator {
  width: 100%;
  height: 1px;
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  background-color: var(--dl-color-gray-900);
}
.gallary-text155 {
  align-self: center;
}
@media(max-width: 1600px) {
  .gallary-container01 {
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .gallary-header {
    height: 111px;
    align-self: flex-start;
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .gallary-image {
    width: 90px;
    height: 80px;
  }
  .gallary-hero {
    height: 511px;
  }
  .gallary-image02 {
    width: 704px;
    height: 446px;
  }
  .gallary-container04 {
    width: 917px;
    flex-wrap: wrap;
    align-self: center;
    align-items: flex-start;
    justify-content: center;
  }
  .gallary-text {
    font-size: 3rem;
  }
  .gallary-image13 {
    height: 167px;
  }
}
@media(max-width: 1221px) {
  .gallary-footer {
    flex-direction: column;
  }
  .gallary-container29 {
    margin-right: var(--dl-space-space-fourunits);
  }
  .gallary-product-container {
    margin-right: var(--dl-space-space-fourunits);
  }
  .gallary-container30 {
    margin-right: var(--dl-space-space-fourunits);
  }
  .gallary-product-container1 {
    margin-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 991px) {
  .gallary-hero {
    padding: var(--dl-space-space-threeunits);
    flex-direction: column;
  }
  .gallary-image02 {
    order: 2;
  }
  .gallary-container04 {
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .gallary-text {
    text-align: center;
  }
  .gallary-text001 {
    text-align: center;
    padding-left: var(--dl-space-space-fourunits);
  }
  .gallary-hero01 {
    flex-direction: column;
  }
  .gallary-container06 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .gallary-text012 {
    text-align: center;
  }
  .gallary-text013 {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .gallary-hero02 {
    padding: var(--dl-space-space-threeunits);
    flex-direction: column;
  }
  .gallary-image04 {
    order: 2;
  }
  .gallary-container08 {
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .gallary-text020 {
    text-align: center;
  }
  .gallary-text021 {
    text-align: center;
  }
  .gallary-text022 {
    text-align: center;
    padding-left: var(--dl-space-space-fourunits);
  }
  .gallary-hero03 {
    flex-direction: column;
  }
  .gallary-container10 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .gallary-text036 {
    text-align: center;
  }
  .gallary-text037 {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .gallary-hero04 {
    padding: var(--dl-space-space-threeunits);
    flex-direction: column;
  }
  .gallary-image06 {
    order: 2;
  }
  .gallary-container12 {
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .gallary-text044 {
    text-align: center;
  }
  .gallary-text045 {
    text-align: center;
  }
  .gallary-text046 {
    text-align: center;
    padding-left: var(--dl-space-space-fourunits);
  }
  .gallary-hero05 {
    flex-direction: column;
  }
  .gallary-container14 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .gallary-text060 {
    text-align: center;
  }
  .gallary-text061 {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .gallary-hero06 {
    padding: var(--dl-space-space-threeunits);
    flex-direction: column;
  }
  .gallary-image08 {
    order: 2;
  }
  .gallary-container16 {
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .gallary-text068 {
    text-align: center;
  }
  .gallary-text069 {
    text-align: center;
  }
  .gallary-text070 {
    text-align: center;
    padding-left: var(--dl-space-space-fourunits);
  }
  .gallary-hero07 {
    flex-direction: column;
  }
  .gallary-container18 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .gallary-text084 {
    text-align: center;
  }
  .gallary-text085 {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .gallary-hero08 {
    padding: var(--dl-space-space-threeunits);
    flex-direction: column;
  }
  .gallary-image10 {
    order: 2;
  }
  .gallary-container20 {
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .gallary-text092 {
    text-align: center;
  }
  .gallary-text093 {
    text-align: center;
  }
  .gallary-text094 {
    text-align: center;
    padding-left: var(--dl-space-space-fourunits);
  }
  .gallary-hero09 {
    flex-direction: column;
  }
  .gallary-container22 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .gallary-text108 {
    text-align: center;
  }
  .gallary-text109 {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .gallary-hero10 {
    padding: var(--dl-space-space-threeunits);
    flex-direction: column;
  }
  .gallary-image12 {
    order: 2;
  }
  .gallary-container25 {
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .gallary-text116 {
    text-align: center;
  }
  .gallary-text117 {
    text-align: center;
  }
  .gallary-text118 {
    text-align: center;
    padding-left: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 767px) {
  .gallary-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .gallary-nav {
    display: none;
  }
  .gallary-btn-group {
    display: none;
  }
  .gallary-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .gallary-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .gallary-image02 {
    width: 80%;
  }
  .gallary-hero01 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .gallary-text013 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .gallary-image03 {
    width: 80%;
  }
  .gallary-hero02 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .gallary-image04 {
    width: 80%;
  }
  .gallary-hero03 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .gallary-text037 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .gallary-image05 {
    width: 80%;
  }
  .gallary-hero04 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .gallary-image06 {
    width: 80%;
  }
  .gallary-hero05 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .gallary-text061 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .gallary-image07 {
    width: 80%;
  }
  .gallary-hero06 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .gallary-image08 {
    width: 80%;
  }
  .gallary-hero07 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .gallary-text085 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .gallary-image09 {
    width: 80%;
  }
  .gallary-hero08 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .gallary-image10 {
    width: 80%;
  }
  .gallary-hero09 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .gallary-text109 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .gallary-image11 {
    width: 80%;
  }
  .gallary-hero10 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .gallary-image12 {
    width: 80%;
  }
  .gallary-social-bar {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .gallary-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .gallary-container28 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .gallary-logo {
    align-items: center;
  }
  .gallary-links-container {
    width: 100%;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
  }
  .gallary-container29 {
    margin-right: var(--dl-space-space-fourunits);
  }
  .gallary-product-container {
    margin-right: var(--dl-space-space-fourunits);
  }
  .gallary-container30 {
    margin-right: var(--dl-space-space-fourunits);
  }
  .gallary-product-container1 {
    margin-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 479px) {
  .gallary-header {
    padding: var(--dl-space-space-unit);
  }
  .gallary-mobile-menu {
    padding: 16px;
  }
  .gallary-hero {
    height: auto;
    align-items: center;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: row;
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: center;
  }
  .gallary-container04 {
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: var(--dl-space-space-unit);
    justify-content: center;
  }
  .gallary-text001 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .gallary-hero01 {
    flex-wrap: wrap;
    align-items: center;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: center;
  }
  .gallary-container06 {
    width: 478px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .gallary-btn-group01 {
    flex-direction: column;
  }
  .gallary-button01 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .gallary-image03 {
    align-self: center;
  }
  .gallary-hero02 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .gallary-container08 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .gallary-btn-group02 {
    flex-direction: column;
  }
  .gallary-button03 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .gallary-text022 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .gallary-hero03 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .gallary-container10 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .gallary-btn-group03 {
    flex-direction: column;
  }
  .gallary-button05 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .gallary-hero04 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .gallary-container12 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .gallary-btn-group04 {
    flex-direction: column;
  }
  .gallary-button07 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .gallary-text046 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .gallary-hero05 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .gallary-container14 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .gallary-btn-group05 {
    flex-direction: column;
  }
  .gallary-button09 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .gallary-hero06 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .gallary-container16 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .gallary-btn-group06 {
    flex-direction: column;
  }
  .gallary-button11 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .gallary-text070 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .gallary-hero07 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .gallary-container18 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .gallary-btn-group07 {
    flex-direction: column;
  }
  .gallary-button13 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .gallary-hero08 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .gallary-container20 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .gallary-btn-group08 {
    flex-direction: column;
  }
  .gallary-button15 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .gallary-text094 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .gallary-hero09 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .gallary-container22 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .gallary-btn-group09 {
    flex-direction: column;
  }
  .gallary-button17 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .gallary-hero10 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .gallary-container25 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .gallary-btn-group10 {
    flex-direction: column;
  }
  .gallary-button19 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .gallary-text118 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .gallary-social-bar {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .gallary-footer {
    padding: var(--dl-space-space-unit);
  }
  .gallary-container28 {
    align-items: center;
    flex-direction: column;
  }
  .gallary-links-container {
    align-items: center;
    flex-direction: column;
  }
  .gallary-container29 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .gallary-container30 {
    margin-right: 0px;
  }
  .gallary-container31 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    align-items: flex-start;
    margin-bottom: 0px;
  }
  .gallary-contact {
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
  }
  .gallary-text155 {
    text-align: center;
  }
}
