.navigation-links2-nav {
  flex:auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  line-height: 6vh;
}
.col{
  flex-direction: column;
}
.navigation-links2-text {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
}
.navigation-links2-text1 {
  font-size: 22px;
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links2-text2 {
  font-size: 22px;
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links2-text3 {
  font-size: 22px;
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links2-text4 {
  font-size: 22px;
  margin-left: var(--dl-space-space-twounits);
  
}


#navbar-button-hover_effect:hover
{
  transform: scale(1.04);
  /* font-weight: 700; */
  transition: all 0.3s ease-in-out;
}




@media(max-width: 912px) {
  .navigation-links2-nav {
  
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .navigation-links2-text {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links2-text1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links2-text2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links2-text3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links2-text4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.testimonial-card11-testimonial-card {
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  max-width: var(--dl-size-size-maxwidth);
  background: #fff;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  box-shadow: 0px 0px 10px -2.5px rgba(0, 0, 0, 0.155);

}

.testimonial-card11-testimonial-card:hover
{
  box-shadow: 0px 0px 10px 0.5px rgba(0, 0, 0, 0.155);
  transition: all 0.4s ease-in-out;
  transform: scale(1.02);
}

.testimonial-card11-testimonial {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.testimonial-card11-image {
  width: 350px;
  height: 220px;
  object-fit: cover;
  border-radius: 10px;
}


.testimonial-card11-text {
  font-size: 1.5rem;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  font-weight: 900;
  margin-bottom: var(--dl-space-space-halfunit);
  text-transform: uppercase;
}
.testimonial-card11-image {
  width: 315px;
  height: 188px;
  object-fit: cover;
  border-radius: 10px;
}

@media(max-width: 380px){
  .testimonial-card11-image {
    width: 280px;
    height: 165px;
  }
}
.testimonial-card11-text {
  font-size: 1.5rem;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  font-weight: 900;
  margin-bottom: var(--dl-space-space-halfunit);
  text-transform: uppercase;
}



@media(max-width: 912px) {
  .testimonial-card11-testimonial-card {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 540px) {
  .testimonial-card11-testimonial-card {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .testimonial-card11-text {
    margin-bottom: var(--dl-space-space-halfunit);
  }
}

.gallery-card11-gallery-card {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
 
}

.gallery-card11-gallery-card:hover
{
  transition: all 0.3s ease-in-out;
  transform: scale(1.04);

}
.gallery-card11-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 10px;
}
.gallery-card11-text {
  color: #000000;
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}






@media(max-width: 1600px) {
  .gallery-card11-text {
    color: #101010;
  }
  .gallery-card11-root-class-name {
    height: auto;
  }
}
@media(max-width: 912px) {
  .gallery-card11-gallery-card {
    flex-direction: column;
  }
}
@media(max-width: 540px) {
  .gallery-card11-image {
    height: 10rem;
  }
}

.gallery-card33-gallery-card {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
}
.gallery-card33-image {
  top: 0px;
  left: 0px;
  right: auto;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
  border-radius: 10px;
}
.gallery-card33-container {
  width: 100%;
  height: 300px;
  display: flex;
  opacity: 0;
  padding: var(--dl-space-space-twounits);
  z-index: 1;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.9));;
}
.gallery-card33-container:hover {
  opacity: 1;
  transition: all 0.5s ease-in-out;
  
}
.gallery-card33-text {
  color: var(--dl-color-gray-white);
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.gallery-card33-text1 {
  color: var(--dl-color-gray-white);
  text-align: center;
}








.main-page-mobile-menu{
  display: none;
}

@media (max-width:912px) {
  .main-page-mobile-menu{
    display: flex;
   
  }
}


@media(max-width: 540px) {
  .gallery-card33-text {
    align-self: center;
    margin-bottom: var(--dl-space-space-unit);
  }

  .main-page-text05
  {
    font-size: 2rem;
  }
}

.main-page-container {
  width: 100%;
  display: flex;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}

.main-page-container01 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.main-page-header {
  width: 100%;
  display: flex;
  max-width: 100%;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  position: fixed;
  background-color: white;
  box-shadow: 0px 0px 13px -4px #0000002e;
  z-index: 1000;
  height: 100px;
}
.main-page-image {
  height: 4rem;
}
.main-page-nav {
  display: flex;
}
.main-page-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.main-hamburger_logo
{
  display: flex;
  justify-content: flex-start;
  align-items: center;

}
.hamburger_logo_text
{
  font-size: 22px;
  font-weight: 600;
  margin-left: 13px;
}
.main-page-register {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 900;
  border-radius: var(--dl-radius-radius-radius8);
  text-transform: capitalize;
  background-color: rgb(0, 0, 0);
}

.main-page-register:hover
{
  /* box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.055); */
  transition: all 0.3s ease-in-out;
  transform: scale(1.04);
}
.main-page-burger-menu {
  display: none;
}
.main-page-icon {
  width: 2rem;
  height: 2rem;
}
.main-page-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.main-page-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.main-page-container02 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
  /* margin-top: 15px; */
}
.main-page-image1 {
  height: 7rem;
}
.main-page-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-page-icon02 {
  width: 2rem;
  height: 2rem;
}
.main-page-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.main-page-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.main-page-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.main-page-hero {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  min-height: 100vh;
  align-items: center;
  /* margin-top: 90px; */
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url('https://img.freepik.com/free-photo/drone-conducting-survey-vibrant-green-farmland-precision-agriculture_157027-2862.jpg?t=st=1701286492~exp=1701290092~hmac=607bfbb9ad8b350cae3ba0aa7d6e8e0935c76c80fbec9e53a2f7d753f58a3f5a&w=1060');
  /* background-image: url(https://www.vecteezy.com/video/5886594-agriculture-drone-flying-and-spraying-fertilizer-and-pesticide-over-farmland-high-technology-innovations-and-smart-farming); */
  
  background-position: center;

  
}

.main-page-text {
  color: var(--dl-color-gray-white);
  width: 640px;
  height: 67px;
  font-size: 3rem;
  max-width: auto;
  font-style: normal;
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  font-weight: 700;
  margin-bottom: 12px;
  pointer-events: none;
}

/* .main-page-text:hover
{
  transform: scale(1.04);
  transition: all 0.3s ease-in-out;
} */
.main-page-button {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
  font-weight: 800;
}
.main-page-button:hover {
  transform: scale(1.05);
}
.main-page-container03 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.main-page-container04 {
  width: 100%;
  height: 395px;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: auto;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: white;
}
.main-page-container05 {
  width: 100%;
  display: flex;
  /* grid-gap: 20rem; */
  /* align-self: flex-start; */
  /* grid-template-columns: 1fr 1fr 1fr; */
  flex-wrap: wrap;
  row-gap: 20px;
  justify-content: space-evenly;
  align-items: center;
}
.main-page-container06 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.main-page-container07 {
  width: 100%;
  height: 95px;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  background-color: 	white;
}
.main-page-text04 {
  color: black;
  font-size: 3rem;
  align-self: flex-end;
  font-style: normal;
  font-weight: 900;
}
.main-page-container08 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.main-page-gallery {
  width: 100%;
  display: grid;
  padding: var(--dl-space-space-threeunits);
  grid-gap: var(--dl-space-space-unit);
  max-width: 100%;
  background-color: 	white;
  grid-template-columns: 1fr 1fr 1fr;
}
.main-page-container09 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.main-page-container10 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.main-page-text05 {
  color: rgb(0, 0, 0);
  font-size: 2.5rem;
  font-style: normal;
  margin-top: var(--dl-space-space-twounits);
  font-weight: 900;
  margin-bottom: var(--dl-space-space-twounits);
}
.main-page-container11 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.main-page-gallery1 {
  width: 100%;
  display: flex;
  max-width: auto;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  background-color: 		white;
}
.main-page-container12 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-unit);
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.main-page-container13 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.main-page-social-bar {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  justify-content: center;
  background-color: 	white;
}
.main-page-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}

.main-page-icon10:hover
{
  transform: scale(1.5);
  transition: all 0.4s ease-in-out;
}
.main-page-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}

.main-page-icon12:hover
{
  transform: scale(1.5);
  transition: all 0.4s ease-in-out;
}
.main-page-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}

.main-page-icon14:hover
{
transform: scale(1.5);
  transition: all 0.4s ease-in-out;
}
.main-page-icon16 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  align-self: center;
  margin-right: var(--dl-space-space-twounits);
}

.main-page-icon16:hover
{
  transform: scale(1.5);
  transition: all 0.4s ease-in-out;
}
.main-page-icon18 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}

.main-page-icon18:hover
{
  transform: scale(1.5);
  transition: all 0.4s ease-in-out;
}
.main-page-container14 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.main-page-footer {
  width: 100%;
  display: flex;
  max-width: 100%;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.main-page-container15 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.main-page-logo {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
}
.main-page-image2 {
  width: 200px;
  object-fit: cover;
}
.main-page-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.main-page-container16 {
  display: flex;
  align-items: flex-start;
  margin-right: 10rem;
  flex-direction: row;
  justify-content: space-between;
}
.main-page-product-container {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-right: 10rem;
  flex-direction: column;
  justify-content: flex-start;
}
.main-page-text06 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.main-page-text07 {
  margin-bottom: var(--dl-space-space-unit);
}
.main-page-text08 {
  margin-bottom: var(--dl-space-space-unit);
}
.main-page-text09 {
  margin-bottom: var(--dl-space-space-unit);
}
.main-page-company-container {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.main-page-text11 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.main-page-text12 {
  margin-bottom: var(--dl-space-space-unit);
}
.main-page-text13 {
  margin-bottom: var(--dl-space-space-unit);
}
.main-page-text14 {
  margin-bottom: var(--dl-space-space-unit);
}
.main-page-container17 {
  display: flex;
  align-items: flex-start;
  margin-right: 10rem;
  flex-direction: row;
  justify-content: space-between;
}
.main-page-product-container1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-right: 10rem;
  flex-direction: column;
  justify-content: flex-start;
}
.main-page-text16 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.main-page-text17 {
  margin-bottom: var(--dl-space-space-unit);
}
.main-page-text18 {
  margin-bottom: var(--dl-space-space-unit);
}
.main-page-text19 {
  margin-bottom: var(--dl-space-space-unit);
}
.main-page-company-container1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.main-page-text21 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.main-page-text22 {
  margin-bottom: var(--dl-space-space-unit);
}
.main-page-text23 {
  margin-bottom: var(--dl-space-space-unit);
}
.main-page-text24 {
  margin-bottom: var(--dl-space-space-unit);
}
.main-page-container18 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.main-page-contact {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: flex-start;
}
.main-page-text26 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.main-page-text27 {
  margin-bottom: var(--dl-space-space-unit);
}

.main-page-text27:hover
{
  transform: scale(1.06);
  transition: all 0.2s ease-in-out;
  /* font-weight: 600; */
}
.main-page-separator {
  width: 100%;
  height: 1px;
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  background-color: var(--dl-color-gray-900);
}

.main-page-separator-1 {
  width: 100%;
  height: 1px;

  background-color: var(--dl-color-gray-900);
}
.main-page-text29 {
  align-self: center;
  font-weight: 700;
  color: #00000086;
}
@media(max-width: 1600px) {
  .main-page-header {
    height: 90px;
    align-self: flex-start;
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
    position: fixed;
    background-color: white;
    z-index: 1000;
    box-shadow: 0px 0px 13px -4px #0000002e;
  }
  .main-page-image {
    width: 75px;
    height: 75px;
  }
  .main-page-hero {
    background-image: url('https://img.freepik.com/free-photo/drone-conducting-survey-vibrant-green-farmland-precision-agriculture_157027-2862.jpg?t=st=1701286492~exp=1701290092~hmac=607bfbb9ad8b350cae3ba0aa7d6e8e0935c76c80fbec9e53a2f7d753f58a3f5a&w=1060');
    /* background-image: url(video.gif); */
  }
  .main-page-container04 {
    background-color: white;
  }
  .main-page-container07 {
    background-color: white;
  }
  .main-page-text04 {
    color: var(--dl-color-gray-black);
  }
  .main-page-gallery {
    background-color: white;
  }
  .main-page-container10 {
    background-color: white;
  }
  .main-page-text05 {
    color: #000000;
  }
  .main-page-gallery1 {
    background-color: white;
  }
  .main-page-social-bar {
    padding: var(--dl-space-space-twounits);
    background-color: white;
  }
  .main-page-icon16 {
    width: 16px;
    height: 17px;
    margin-right: var(--dl-space-space-twounits);
  }
  .main-page-image2 {
    height: 167px;
  }
}
@media(max-width: 1275px) {
  .main-page-hero {
    min-height: 80vh;
  }
  .main-page-container04 {
    height: auto;
    padding-left: var(--dl-space-space-oneandhalfunits);
  }
  .main-page-container05 {
    grid-template-columns: 1fr;
  }
  .main-page-gallery {
    grid-template-columns: 1fr 1fr;
  }
  .main-page-container12 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .main-page-footer {
    flex-direction: column;
  }
  .main-page-container16 {
    margin-right: var(--dl-space-space-fourunits);
  }
  .main-page-product-container {
    margin-right: var(--dl-space-space-fourunits);
  }
  .main-page-container17 {
    margin-right: var(--dl-space-space-fourunits);
  }
  .main-page-product-container1 {
    margin-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 912px) {
  .main-page-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .main-page-nav {
    display: none;
  }
  .main-page-btn-group {
    display: none;
  }
  .main-page-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main-page-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .main-page-container04 {
    padding-left:var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .main-page-gallery {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .main-page-gallery1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .main-page-container12 {
    grid-template-columns: 1fr 1fr;
  }
  .main-page-social-bar {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .main-page-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .main-page-container15 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .main-page-logo {
    align-items: center;
  }
  .main-page-links-container {
    width: 100%;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
  }
  .main-page-container16 {
    margin-right: var(--dl-space-space-fourunits);
  }
  .main-page-product-container {
    margin-right: var(--dl-space-space-fourunits);
  }
  .main-page-container17 {
    margin-right: var(--dl-space-space-fourunits);
  }
  .main-page-product-container1 {
    margin-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 540px) {
  .main-page-header {
    padding: var(--dl-space-space-unit);
  }
  .main-page-mobile-menu {
    padding: 16px;
  }
  .main-page-hero {
    height: 100vh;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .main-page-text {
    width: auto;
    height: 220px;
    margin-bottom: 25px;
  }
  .main-page-button {
    padding-right: var(--dl-space-space-twounits);
  }
  .main-page-container04 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .main-page-gallery {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .main-page-gallery1 {
    padding: var(--dl-space-space-unit);
  }
  .main-page-container12 {
    grid-template-columns: 1fr;
  }
  .main-page-social-bar {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .main-page-footer {
    padding: var(--dl-space-space-unit);
  }
  .main-page-container15 {
    align-items: center;
    flex-direction: column;
  }
  .main-page-links-container {
    align-items: center;
    flex-direction: column;
  }
  .main-page-container16 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .main-page-container17 {
    margin-right: 0px;
  }
  .main-page-container18 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    align-items: flex-start;
    margin-bottom: 0px;
  }
  .main-page-contact {
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
  }
  .main-page-text29 {
    text-align: center;
    font-weight: 700;
  color: #00000086;
  }
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-trigger {
  /* background-color: #3498db; */
  color: #000000;
  padding: 10px;
  cursor: pointer;
}



.dropdown-item {
  /* padding: 10px; */
  /* display: block; */
  color: #000000;
  text-decoration: none;
  font-size: 17px;
}

.dropdown-item {
  /* padding: 10px; */
  /* display: block; */
  color: #000000;
  text-decoration: none;
  font-size: 17px;
}

.search-box {
  /* padding: 10px; */
  border: 1px solid #ddd;
  width: 100%;
  box-sizing: border-box;
}

.dropdown:hover .dropdown-content {
  display: block;
}

ul{
  list-style-type: none;
}


.dropdown-content {
   
     text-align: center;
     margin: auto;
     position: fixed;
     width: 70vw;
     left: 0;
     margin-left: -35rem;
     left: 0;
     position: fixed;
     z-index: 10;
     padding-top: 45px;
     padding-bottom: 45px;
     display: none;
     position: absolute;
     background-color: #ffffff;
     box-shadow: 0 8px 16px 6px rgba(0, 0, 0, 0.205);
     z-index: 1;
}




.ok{

  border-radius: 25px;
   margin-left:-35vw ;
  z-index: 99;
}
.mid{
  display: flex;
  justify-content: space-between;
  text-align: start;
  padding: 0px 55px;
}
.main-page-mobile-menu{
  display: none;
}
.first{
  margin-left: -18vw;
  z-index: 99;
  border-radius: 25px;
}

.second{
  margin-left: -25vw;
  z-index: 99;
  border-radius: 25px;
}

@media (max-width:1280px)
{
  .first{
    margin-left: -18vw;
    padding-left: 40px;
    
  }

  .dropdown-item
  {
    font-size: 13px;
  }

  .navigation-links2-nav
  {
    line-height: 3.5vh;
  }
  #product-dropdown-heading
  {
    font-weight: 600;
    font-size: 21px;
  }
}

@media (max-width:1122px)
{
  .first{
    margin-left: -20vw;
    padding-left: 0px;
  }
  .dropdown-content
  {
    width: 85vw;
  }

  .dropdown-item
  {
    font-size: 13px;
  }

  .navigation-links2-nav
  {
    line-height: 3.5vh;
  }
  .second{
    margin-left: -31vw;
    
  }

  .ok{
     margin-left:-42vw ;
  }
  #product-dropdown-heading
  {
    font-weight: 600;
    font-size: 19px;
  }
}

.hamburger_logo img
{
  height: 75px;
  width: 75px;
}



@media (max-width:912px) {
  .main-page-mobile-menu{
    width: 100%;
    display: none;
    text-align: center;
    right: 0;
    position: fixed;
    margin: auto;
  }
  .navigation-links2-nav{
    text-align: center;
    margin: auto;
  }

  
}


#product_dropdown:hover
{
  /* font-weight: 600; */
  /* transform: scale(1.03); */
  /* transition: all 0.3s ease-in-out; */
  color: #199033 ;
}

.heading_dropdown
{
  font-weight: 600;
  font-size: 25px;
}

#product-dropdown-heading 
{
  font-weight: 600;
  font-size: 25px;
  
}

#blank_item_dropdown
{
  margin: 10px;
}


.index-page-container02 {
  width: 100%;
  /* border: 2px dashed rgba(120, 120, 120, 0.4); */
  height: 91px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.dropdown-item
{
  color: black;
}

.dropdown-item:hover
{
  color: #199033;
}

.training_subtitle
{
  font-size: 10px;
  line-height: 2px;

}

/* .top-icon
{
  position: relative;

}

.top-icon img
{ position: fixed;
  height: 55px;
  width: 55px;
  bottom: 35px;
  right: 35px;
  z-index: 10000;
} */

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(196, 255, 93);
  /* border-radius: 4px; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #199033;
  /* border-radius: 4px; */
}

/* details >summary
{
  list-style-type:;
}

details[open] >summary
{
  list-style-type: '⏑  ';
} */

