.navigation-links2-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links2-text {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
}
.navigation-links2-text1 {
  font-size: 22px;
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links2-text2 {
  font-size: 22px;
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links2-text3 {
  font-size: 22px;
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links2-text4 {
  font-size: 22px;
  margin-left: var(--dl-space-space-twounits);
}



















@media(max-width: 767px) {
  .navigation-links2-nav {
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .navigation-links2-text {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links2-text1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links2-text2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links2-text3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links2-text4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-text1 {
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links-text2 {
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links-text3 {
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links-text4 {
  margin-left: var(--dl-space-space-twounits);
}









@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-text {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.blog-post-card3-blog-post-card {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  flex-direction: row;
  justify-content: center;
}
.blog-post-card3-image {
  width: 500px;
  object-fit: cover;
}
.blog-post-card3-container {
  flex: 1;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.blog-post-card3-heading {
  margin-bottom: var(--dl-space-space-threeunits);
}
.blog-post-card3-container1 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: flex-start;
}
.blog-post-card3-text {
  color: var(--dl-color-gray-500);
  margin-bottom: var(--dl-space-space-twounits);
}
.blog-post-card3-button {
  color: #ffffff;
  border-radius: 6px;
  background-color: #060606;
}















@media(max-width: 1221px) {
  .blog-post-card3-image {
    width: 50%;
  }
  .blog-post-card3-button {
    color: #ffffff;
    font-style: normal;
    font-weight: 800;
    background-color: #080707;
  }
  .blog-post-card3-root-class-name1 {
    align-self: flex-start;
  }
}
@media(max-width: 767px) {
  .blog-post-card3-blog-post-card {
    flex-direction: column;
    justify-content: space-between;
  }
  .blog-post-card3-image {
    width: 100%;
  }
  .blog-post-card3-container {
    width: 100%;
  }
  .blog-post-card3-heading {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .blog-post-card3-container1 {
    margin-bottom: var(--dl-space-space-twounits);
  }
}

.product-container {
  width: 100%;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.product-container01 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.product-header {
  width: 100%;
  display: flex;
  max-width: 100%;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.product-image {
  height: 3rem;
}
.product-nav {
  display: flex;
}
.product-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.product-register {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 900;
  border-radius: var(--dl-radius-radius-radius8);
  text-transform: capitalize;
  background-color: rgb(0, 0, 0);
}
.product-burger-menu {
  display: none;
}
.product-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.product-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.product-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.product-container02 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.product-image1 {
  height: 2rem;
}
.product-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.product-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.product-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.product-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.product-container03 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.product-header1 {
  width: 100%;
  height: 98px;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  align-self: center;
  align-items: center;
  padding-left: 0px;
  padding-right: 0px;
  justify-content: center;
  background-color: #DCBFFF;
}
.product-nav2 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
}
.product-burger-menu1 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: none;
}
.product-mobile-menu1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.product-nav3 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.product-container04 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.product-image2 {
  height: 2rem;
}
.product-menu-close1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.product-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.product-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.product-icon16 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.product-text {
  width: 1277px;
  height: 59px;
  font-size: 50px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
}
.product-container05 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  background-color: #E5D4FF;
}
.product-blog {
  width: 1461px;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  max-width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.product-container06 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.product-container07 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.product-container08 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  background-color: #E5D4FF;
}
.product-blog1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.product-container09 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.product-container10 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.product-container11 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  background-color: #E5D4FF;
}
.product-blog2 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.product-container12 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.product-container13 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.product-container14 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  background-color: #E5D4FF;
}
.product-blog3 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.product-container15 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.product-container16 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.product-container17 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  background-color: #E5D4FF;
}
.product-blog4 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.product-container18 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.product-container19 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.product-container20 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.product-container21 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.product-social-bar {
  width: 100%;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  justify-content: center;
  background-color: #F1EAFF;
}
.product-icon18 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.product-icon20 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.product-icon22 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.product-icon24 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.product-icon26 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.product-container22 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.product-footer {
  width: 100%;
  display: flex;
  max-width: 100%;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.product-container23 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.product-logo {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
}
.product-image3 {
  width: 200px;
  object-fit: cover;
}
.product-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.product-container24 {
  display: flex;
  align-items: flex-start;
  margin-right: 10rem;
  flex-direction: row;
  justify-content: space-between;
}
.product-product-container {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-right: 10rem;
  flex-direction: column;
  justify-content: flex-start;
}
.product-text01 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.product-text02 {
  margin-bottom: var(--dl-space-space-unit);
}
.product-text03 {
  margin-bottom: var(--dl-space-space-unit);
}
.product-text04 {
  margin-bottom: var(--dl-space-space-unit);
}
.product-company-container {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.product-text06 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.product-text07 {
  margin-bottom: var(--dl-space-space-unit);
}
.product-text08 {
  margin-bottom: var(--dl-space-space-unit);
}
.product-text09 {
  margin-bottom: var(--dl-space-space-unit);
}
.product-container25 {
  display: flex;
  align-items: flex-start;
  margin-right: 10rem;
  flex-direction: row;
  justify-content: space-between;
}
.product-product-container1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-right: 10rem;
  flex-direction: column;
  justify-content: flex-start;
}
.product-text11 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.product-text12 {
  margin-bottom: var(--dl-space-space-unit);
}
.product-text13 {
  margin-bottom: var(--dl-space-space-unit);
}
.product-text14 {
  margin-bottom: var(--dl-space-space-unit);
}
.product-company-container1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.product-text16 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.product-text17 {
  margin-bottom: var(--dl-space-space-unit);
}
.product-text18 {
  margin-bottom: var(--dl-space-space-unit);
}
.product-text19 {
  margin-bottom: var(--dl-space-space-unit);
}
.product-container26 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.product-contact {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: flex-start;
}
.product-text21 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.product-text22 {
  margin-bottom: var(--dl-space-space-unit);
}
.product-separator {
  width: 100%;
  height: 1px;
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  background-color: var(--dl-color-gray-900);
}
.product-text24 {
  align-self: center;
}
@media(max-width: 1600px) {
  .product-header {
    height: 111px;
    align-self: flex-start;
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .product-image {
    width: 90px;
    height: 80px;
  }
  .product-header1 {
    background-color: #DCBFFF;
  }
  .product-container05 {
    background-color: #E5D4FF;
  }
  .product-container08 {
    background-color: #E5D4FF;
  }
  .product-container11 {
    background-color: #E5D4FF;
  }
  .product-container14 {
    background-color: #E5D4FF;
  }
  .product-container17 {
    background-color: #E5D4FF;
  }
  .product-container21 {
    height: auto;
  }
  .product-social-bar {
    padding: var(--dl-space-space-twounits);
    background-color: #F1EAFF;
  }
  .product-icon24 {
    width: 16px;
    height: 17px;
    margin-right: var(--dl-space-space-twounits);
  }
  .product-image3 {
    height: 167px;
  }
}
@media(max-width: 1221px) {
  .product-container06 {
    position: relative;
  }
  .product-blog1 {
    padding: var(--dl-space-space-oneandhalfunits);
  }
  .product-container21 {
    height: auto;
  }
  .product-container22 {
    height: auto;
  }
  .product-footer {
    flex-direction: column;
  }
  .product-container24 {
    margin-right: var(--dl-space-space-fourunits);
  }
  .product-product-container {
    margin-right: var(--dl-space-space-fourunits);
  }
  .product-container25 {
    margin-right: var(--dl-space-space-fourunits);
  }
  .product-product-container1 {
    margin-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 767px) {
  .product-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .product-nav {
    display: none;
  }
  .product-btn-group {
    display: none;
  }
  .product-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .product-header1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .product-nav2 {
    display: none;
  }
  .product-burger-menu1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .product-blog {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .product-blog1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .product-blog2 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .product-blog3 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .product-blog4 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .product-social-bar {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .product-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .product-container23 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .product-logo {
    align-items: center;
  }
  .product-links-container {
    width: 100%;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
  }
  .product-container24 {
    margin-right: var(--dl-space-space-fourunits);
  }
  .product-product-container {
    margin-right: var(--dl-space-space-fourunits);
  }
  .product-container25 {
    margin-right: var(--dl-space-space-fourunits);
  }
  .product-product-container1 {
    margin-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 479px) {
  .product-header {
    padding: var(--dl-space-space-unit);
  }
  .product-mobile-menu {
    padding: 16px;
  }
  .product-header1 {
    padding: var(--dl-space-space-unit);
  }
  .product-mobile-menu1 {
    padding: 16px;
  }
  .product-blog {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .product-blog1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .product-blog2 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .product-blog3 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .product-blog4 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .product-social-bar {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .product-footer {
    padding: var(--dl-space-space-unit);
  }
  .product-container23 {
    align-items: center;
    flex-direction: column;
  }
  .product-links-container {
    align-items: center;
    flex-direction: column;
  }
  .product-container24 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .product-container25 {
    margin-right: 0px;
  }
  .product-container26 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    align-items: flex-start;
    margin-bottom: 0px;
  }
  .product-contact {
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
  }
  .product-text24 {
    text-align: center;
  }
}
