.blog-post-card3-blog-post-card {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  flex-direction: row;
  justify-content: center;
  box-shadow: 0px 0px 18px 3px rgba(0, 0, 0, 0.097);
  border-radius: 34px;
}
.blog-post-card3-image {
  width: 370px;
  object-fit: cover;
  border-radius: 53px;
  padding: 25px;
}
.blog-post-card3-container {
  flex: 1;
  display: flex;
  padding: 20px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.blog-post-card3-heading {
  margin-bottom: var(--dl-space-space-threeunits);
}
.blog-post-card3-container1 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: flex-start;
}
.blog-post-card3-text {
  color: var(--dl-color-gray-500);
  margin-bottom: var(--dl-space-space-twounits);
}


.blog-post-card3-button {
  color: rgb(255, 255, 255);
  border-radius: 35px;
  background-color: #060606;
  margin-top: 30px;
  font-weight: 700;
}


.blog-post-card3-button:hover
{
  background-color: white;
  color: black;
  transition: all 0.3s ease-in-out;
}

.blog-post-card3-button1 {
  color: rgb(0, 0, 0);
  border-radius: 35px;
  background-color: white;
  margin-top: 30px;
  font-weight: 700;
  margin-left: 20px;
  
}


.blog-post-card3-button1:hover
{
  background-color: #000000;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.post-card-reverse {
  flex-direction: row-reverse;
}
@media(max-width: 1280px) {
  .blog-post-card3-image {
    width: 50%;
    border-radius: 53px;
  }
  .blog-post-card3-button {
    color: #ffffff;
    font-style: normal;
    font-weight: 800;
    background-color: #080707;
  }
}
@media(max-width: 912px) {
  .blog-post-card3-blog-post-card {
    flex-direction: column;
    justify-content: space-between;
  }
  .blog-post-card3-image {
    width: 100%;
    border-radius: 55px;
    padding: 25px;
  }
  .blog-post-card3-container {
    width: 100%;
  }
  .blog-post-card3-heading {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .blog-post-card3-container1 {
    margin-bottom: var(--dl-space-space-twounits);
  }
}

.service-page-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
}
.service-page-container01 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.service-page-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.service-page-image {
  height: 2rem;
}
.service-page-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.service-page-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.service-page-text01 {
  margin-left: var(--dl-space-space-twounits);
}
.service-page-text02 {
  margin-left: var(--dl-space-space-twounits);
}
.service-page-text03 {
  margin-left: var(--dl-space-space-twounits);
}
.service-page-text04 {
  margin-left: var(--dl-space-space-twounits);
}
.service-page-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.service-page-login {
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
}
.service-page-burger-menu {
  display: none;
}
.service-page-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.service-page-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.service-page-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.service-page-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.service-page-logo {
  height: 2rem;
}
.service-page-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.service-page-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.service-page-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.service-page-text05 {
  margin-bottom: var(--dl-space-space-unit);
}
.service-page-text06 {
  margin-bottom: var(--dl-space-space-unit);
}
.service-page-text07 {
  margin-bottom: var(--dl-space-space-unit);
}
.service-page-text08 {
  margin-bottom: var(--dl-space-space-unit);
}
.service-page-text09 {
  margin-bottom: var(--dl-space-space-unit);
}
.service-page-buttons1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.service-page-login1 {
  margin-right: var(--dl-space-space-twounits);
}
.service-page-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.service-page-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.service-page-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.service-page-container02 {
  width: 100%;
  /* border: 2px dashed rgba(120, 120, 120, 0.4); */
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.service-page-container03 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.service-page-text10 {
  font-size: 3rem;
  font-style: normal;
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
}
.service-page-container04 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  padding: 0px;
  flex-wrap: wrap;
  align-items: center;
  /* padding-top: var(--dl-space-space-twounits); */
  /* padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-twounits); */
  justify-content: center;
}
.service-page-container05 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  background-color: #E5D4FF;
}
.service-page-blog {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  max-width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.service-page-container06 {
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
  /* border: 1px solid black; */
}
.service-page-container07 {
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
  /* border: 1px solid black; */
}
.service-page-container08 {
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
  
}
.service-page-container09 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  background-color: #E5D4FF;
}
.service-page-blog01 {
  width: 100%;
  display: flex;
  max-width: 100%;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.service-page-container10 {
  display: flex;
  margin-top: 0px;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.service-page-container11 {
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.service-page-container12 {
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.service-page-blog02 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  max-width: 100%;
  align-items: center;
  padding-top: 0px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.service-page-container13 {
  display: flex;
  margin-top: 0px;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.service-page-container14 {
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.service-page-container15 {
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.service-page-container16 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.service-page-text11 {
  font-size: 3rem;
  font-style: normal;
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
}
.service-page-container17 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  background-color: #E5D4FF;
}
.service-page-blog03 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  max-width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.service-page-container18 {
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.service-page-container19 {
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.service-page-container20 {
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.service-page-container21 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  background-color: #E5D4FF;
}
.service-page-blog04 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  max-width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.service-page-container22 {
  display: flex;
  margin-top: 0px;
  align-items: center;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: space-between;
}
.service-page-container23 {
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.service-page-container24 {
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.service-page-container25 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  background-color: #E5D4FF;
}
.service-page-blog05 {
  width: 100%;
  display: flex;
  max-width: 100%;
  align-items: center;
  padding-top: 0px;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.service-page-container26 {
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.service-page-container27 {
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.service-page-container28 {
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.service-page-container29 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.service-page-text12 {
  font-size: 3rem;
  font-style: normal;
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
}
.service-page-blog06 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  max-width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.service-page-container30 {
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.service-page-container31 {
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.service-page-container32 {
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.service-page-blog07 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  max-width: 100%;
  align-items: center;
  padding-top: 0px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.service-page-container33 {
  display: flex;
  margin-top: 0px;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.service-page-container34 {
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.service-page-container35 {
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.service-page-blog08 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  max-width: 100%;
  align-items: center;
  padding-top: 0px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.service-page-container36 {
  display: flex;
  margin-top: 0px;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.service-page-container37 {
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.service-page-container38 {
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.service-page-blog09 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  max-width: 100%;
  align-items: center;
  padding-top: 0px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.service-page-container39 {
  display: flex;
  margin-top: 0px;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.service-page-container40 {
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.service-page-container41 {
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.service-page-social-bar {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  justify-content: center;
}
.service-page-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.service-page-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.service-page-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.service-page-icon16 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.service-page-icon18 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.service-page-footer {
  width: 100%;
  display: flex;
  max-width: 100%;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.service-page-container42 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.service-page-logo1 {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
}
.service-page-image1 {
  height: 2rem;
}
.service-page-text13 {
  margin-top: var(--dl-space-space-oneandhalfunits);
}
.service-page-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.service-page-container43 {
  display: flex;
  align-items: flex-start;
  margin-right: 10rem;
  flex-direction: row;
  justify-content: space-between;
}
.service-page-product-container {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-right: 10rem;
  flex-direction: column;
  justify-content: flex-start;
}
.service-page-text19 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.service-page-text20 {
  margin-bottom: var(--dl-space-space-unit);
}
.service-page-text21 {
  margin-bottom: var(--dl-space-space-unit);
}
.service-page-text22 {
  margin-bottom: var(--dl-space-space-unit);
}
.service-page-company-container {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.service-page-text24 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.service-page-text25 {
  margin-bottom: var(--dl-space-space-unit);
}
.service-page-text26 {
  margin-bottom: var(--dl-space-space-unit);
}
.service-page-text27 {
  margin-bottom: var(--dl-space-space-unit);
}
.service-page-container44 {
  display: flex;
  align-items: flex-start;
  margin-right: 10rem;
  flex-direction: row;
  justify-content: space-between;
}
.service-page-product-container1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-right: 10rem;
  flex-direction: column;
  justify-content: flex-start;
}
.service-page-text29 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.service-page-text30 {
  margin-bottom: var(--dl-space-space-unit);
}
.service-page-text31 {
  margin-bottom: var(--dl-space-space-unit);
}
.service-page-text32 {
  margin-bottom: var(--dl-space-space-unit);
}
.service-page-company-container1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.service-page-text34 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.service-page-text35 {
  margin-bottom: var(--dl-space-space-unit);
}
.service-page-text36 {
  margin-bottom: var(--dl-space-space-unit);
}
.service-page-text37 {
  margin-bottom: var(--dl-space-space-unit);
}
.service-page-container45 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.service-page-contact {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: flex-start;
}
.service-page-text39 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.service-page-text40 {
  margin-bottom: var(--dl-space-space-unit);
}
.service-page-socials {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.service-page-text42 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.service-page-icon-group1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.service-page-icon20 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-unit);
}
.service-page-icon22 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-unit);
}
.service-page-icon24 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.service-page-separator {
  width: 100%;
  height: 1px;
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  background-color: var(--dl-color-gray-900);
}
.service-page-text43 {
  align-self: center;
}
.service-page-text45 {
  text-align: left;
}
@media(max-width: 1600px) {
  .service-page-container05 {
    background-color: #E5D4FF;
  }
  .service-page-blog {
    width: 100%;
    background-color: var(--dl-color-gray-white);
  }
  .service-page-container09 {
    background-color: #E5D4FF;
  }
  .service-page-blog01 {
    width: 100%;
    background-color: var(--dl-color-gray-white);
  }
  .service-page-blog02 {
    width: 100%;
    background-color: var(--dl-color-gray-white);
  }
  .service-page-container17 {
    background-color: #E5D4FF;
  }
  .service-page-blog03 {
    width: 100%;
    background-color: var(--dl-color-gray-white);
  }
  .service-page-container21 {
    background-color: #E5D4FF;
  }
  .service-page-blog04 {
    width: 100%;
    background-color: var(--dl-color-gray-white);
  }
  .service-page-container25 {
    background-color: #E5D4FF;
  }
  .service-page-blog05 {
    width: 100%;
    background-color: var(--dl-color-gray-white);
  }
  .service-page-blog06 {
    width: 100%;
    background-color: var(--dl-color-gray-white);
  }
  .service-page-blog07 {
    width: 100%;
    background-color: var(--dl-color-gray-white);
  }
  .service-page-blog08 {
    width: 100%;
    background-color: var(--dl-color-gray-white);
  }
  .service-page-blog09 {
    width: 100%;
    background-color: var(--dl-color-gray-white);
  }
}
@media(max-width: 1280px) {
  .service-page-container06 {
    position: relative;
  }
  .service-page-container10 {
    position: relative;
  }
  .service-page-container13 {
    position: relative;
  }
  .service-page-container18 {
    position: relative;
  }
  .service-page-container22 {
    position: relative;
  }
  .service-page-container26 {
    position: relative;
  }
  .service-page-container30 {
    position: relative;
  }
  .service-page-container33 {
    position: relative;
  }
  .service-page-container36 {
    position: relative;
  }
  .service-page-container39 {
    position: relative;
  }
}
@media(max-width: 991px) {
  .service-page-footer {
    flex-direction: column;
  }
  .service-page-container43 {
    margin-right: var(--dl-space-space-fourunits);
  }
  .service-page-product-container {
    margin-right: var(--dl-space-space-fourunits);
  }
  .service-page-container44 {
    margin-right: var(--dl-space-space-fourunits);
  }
  .service-page-product-container1 {
    margin-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 912px) {
  .service-page-blog {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .service-page-blog01 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .service-page-blog02 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .service-page-blog03 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .service-page-blog04 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .service-page-blog05 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .service-page-blog06 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .service-page-blog07 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .service-page-blog08 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .service-page-blog09 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 767px) {
  .service-page-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .service-page-desktop-menu {
    display: none;
  }
  .service-page-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .service-page-text05 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .service-page-text06 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .service-page-text07 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .service-page-text08 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .service-page-text09 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .service-page-social-bar {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .service-page-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .service-page-container42 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .service-page-logo1 {
    align-items: center;
  }
  .service-page-image1 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .service-page-text13 {
    margin-top: var(--dl-space-space-twounits);
    text-align: center;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .service-page-links-container {
    width: 100%;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
  }
  .service-page-container43 {
    margin-right: var(--dl-space-space-fourunits);
  }
  .service-page-product-container {
    margin-right: var(--dl-space-space-fourunits);
  }
  .service-page-container44 {
    margin-right: var(--dl-space-space-fourunits);
  }
  .service-page-product-container1 {
    margin-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 540px) {
  .service-page-blog {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .service-page-blog01 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .service-page-blog02 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .service-page-blog03 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .service-page-blog04 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .service-page-blog05 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .service-page-blog06 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .service-page-blog07 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .service-page-blog08 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .service-page-blog09 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
}
@media(max-width: 520px) {
  .service-page-text12 {
    font-size: 3rem;
    font-style: normal;
    font-weight: 900;
    text-transform: uppercase;
  }
}
@media(max-width: 479px) {
  .service-page-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .service-page-mobile-menu {
    padding: 16px;
  }
  .service-page-social-bar {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .service-page-footer {
    padding: var(--dl-space-space-unit);
  }
  .service-page-container42 {
    align-items: center;
    flex-direction: column;
  }
  .service-page-image1 {
    margin-bottom: 0px;
  }
  .service-page-text13 {
    margin-top: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-twounits);
  }
  .service-page-links-container {
    align-items: center;
    flex-direction: column;
  }
  .service-page-container43 {
    margin-right: 0px;
  }
  .service-page-container44 {
    margin-right: 0px;
  }
  .service-page-container45 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    align-items: flex-start;
    margin-bottom: 0px;
  }
  .service-page-contact {
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
  }
  .service-page-text43 {
    text-align: center;
  }
}
