.navigation-links2-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links2-text {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
}
.navigation-links2-text1 {
  font-size: 22px;
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links2-text2 {
  font-size: 22px;
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links2-text3 {
  font-size: 22px;
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links2-text4 {
  font-size: 22px;
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links2-text5 {
  font-size: 22px;
  margin-left: var(--dl-space-space-twounits);
}





























@media(max-width: 912px) {
  .navigation-links2-nav {
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .navigation-links2-text {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links2-text1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links2-text2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links2-text3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links2-text4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links2-text5 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.three-day-drone-workshop-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.three-day-drone-workshop-container01 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.three-day-drone-workshop-header {
  width: 100%;
  display: flex;
  max-width: 100%;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.three-day-drone-workshop-image {
  height: 3rem;
}
.three-day-drone-workshop-nav {
  display: flex;
}
.three-day-drone-workshop-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.three-day-drone-workshop-register {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 900;
  border-radius: var(--dl-radius-radius-radius8);
  text-transform: capitalize;
  background-color: rgb(0, 0, 0);
}
.three-day-drone-workshop-burger-menu {
  display: none;
}
.three-day-drone-workshop-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.three-day-drone-workshop-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.three-day-drone-workshop-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.three-day-drone-workshop-container02 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.three-day-drone-workshop-image1 {
  height: 2rem;
}
.three-day-drone-workshop-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.three-day-drone-workshop-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.three-day-drone-workshop-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.three-day-drone-workshop-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.three-day-drone-workshop-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.three-day-drone-workshop-container03 {
  flex: 0 0 auto;
  width: 100%;
  /* border: 2px dashed rgba(120, 120, 120, 0.4); */
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.three-day-drone-workshop-hero {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url('https://img.freepik.com/free-photo/drone-conducting-survey-vibrant-green-farmland-precision-agriculture_157027-2862.jpg?t=st=1701286492~exp=1701290092~hmac=607bfbb9ad8b350cae3ba0aa7d6e8e0935c76c80fbec9e53a2f7d753f58a3f5a&w=1060');
  background-position: center;
}
.three-day-drone-workshop-text {
  color: var(--dl-color-gray-white);
  width: 640px;
  height: 67px;
  font-size: 3rem;
  max-width: auto;
  font-style: normal;
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  font-weight: 700;
  margin-bottom: 12px;
}
.three-day-drone-workshop-button {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
.three-day-drone-workshop-button:hover {
  transform: scale(1.02);
}
.three-day-drone-workshop-container04 {
  flex: 0 0 auto;
  width: 100%;
  /* border: 2px dashed rgba(120, 120, 120, 0.4); */
  height: auto;
  display: flex;
  align-items: flex-start;
}
.three-day-drone-workshop-container05 {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.three-day-drone-workshop-container06 {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.three-day-drone-workshop-container07 {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.three-day-drone-workshop-container08 {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.three-day-drone-workshop-container09 {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.three-day-drone-workshop-container10 {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.three-day-drone-workshop-container11 {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.three-day-drone-workshop-container12 {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.three-day-drone-workshop-social-bar {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  justify-content: center;
}
.three-day-drone-workshop-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.three-day-drone-workshop-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.three-day-drone-workshop-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.three-day-drone-workshop-icon16 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.three-day-drone-workshop-icon18 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.three-day-drone-workshop-container13 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.three-day-drone-workshop-container14 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.three-day-drone-workshop-footer {
  width: 100%;
  display: flex;
  max-width: 100%;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.three-day-drone-workshop-container15 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.three-day-drone-workshop-logo {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
}
.three-day-drone-workshop-image2 {
  width: 200px;
  object-fit: cover;
}
.three-day-drone-workshop-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.three-day-drone-workshop-container16 {
  display: flex;
  align-items: flex-start;
  margin-right: 10rem;
  flex-direction: row;
  justify-content: space-between;
}
.three-day-drone-workshop-product-container {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-right: 10rem;
  flex-direction: column;
  justify-content: flex-start;
}
.three-day-drone-workshop-text04 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.three-day-drone-workshop-text05 {
  margin-bottom: var(--dl-space-space-unit);
}
.three-day-drone-workshop-text06 {
  margin-bottom: var(--dl-space-space-unit);
}
.three-day-drone-workshop-text07 {
  margin-bottom: var(--dl-space-space-unit);
}
.three-day-drone-workshop-company-container {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.three-day-drone-workshop-text09 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.three-day-drone-workshop-text10 {
  margin-bottom: var(--dl-space-space-unit);
}
.three-day-drone-workshop-text11 {
  margin-bottom: var(--dl-space-space-unit);
}
.three-day-drone-workshop-text12 {
  margin-bottom: var(--dl-space-space-unit);
}
.three-day-drone-workshop-container17 {
  display: flex;
  align-items: flex-start;
  margin-right: 10rem;
  flex-direction: row;
  justify-content: space-between;
}
.three-day-drone-workshop-product-container1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-right: 10rem;
  flex-direction: column;
  justify-content: flex-start;
}
.three-day-drone-workshop-text14 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.three-day-drone-workshop-text15 {
  margin-bottom: var(--dl-space-space-unit);
}
.three-day-drone-workshop-text16 {
  margin-bottom: var(--dl-space-space-unit);
}
.three-day-drone-workshop-text17 {
  margin-bottom: var(--dl-space-space-unit);
}
.three-day-drone-workshop-company-container1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.three-day-drone-workshop-text19 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.three-day-drone-workshop-text20 {
  margin-bottom: var(--dl-space-space-unit);
}
.three-day-drone-workshop-text21 {
  margin-bottom: var(--dl-space-space-unit);
}
.three-day-drone-workshop-text22 {
  margin-bottom: var(--dl-space-space-unit);
}
.three-day-drone-workshop-container18 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.three-day-drone-workshop-contact {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: flex-start;
}
.three-day-drone-workshop-text24 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.three-day-drone-workshop-text25 {
  margin-bottom: var(--dl-space-space-unit);
}
.three-day-drone-workshop-separator {
  width: 100%;
  height: 1px;
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  background-color: var(--dl-color-gray-900);
}
.three-day-drone-workshop-text27 {
  align-self: center;
}
@media(max-width: 1600px) {
  .three-day-drone-workshop-header {
    height: 111px;
    align-self: flex-start;
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .three-day-drone-workshop-image {
    width: 90px;
    height: 80px;
  }
  .three-day-drone-workshop-hero {
    background-image: url('https://img.freepik.com/free-photo/drone-conducting-survey-vibrant-green-farmland-precision-agriculture_157027-2862.jpg?t=st=1701286492~exp=1701290092~hmac=607bfbb9ad8b350cae3ba0aa7d6e8e0935c76c80fbec9e53a2f7d753f58a3f5a&w=1060');
  }
  .three-day-drone-workshop-image2 {
    height: 167px;
  }
}
@media(max-width: 1280px) {
  .three-day-drone-workshop-hero {
    min-height: 80vh;
  }
  .three-day-drone-workshop-footer {
    flex-direction: column;
  }
  .three-day-drone-workshop-container16 {
    margin-right: var(--dl-space-space-fourunits);
  }
  .three-day-drone-workshop-product-container {
    margin-right: var(--dl-space-space-fourunits);
  }
  .three-day-drone-workshop-container17 {
    margin-right: var(--dl-space-space-fourunits);
  }
  .three-day-drone-workshop-product-container1 {
    margin-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 912px) {
  .three-day-drone-workshop-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .three-day-drone-workshop-nav {
    display: none;
  }
  .three-day-drone-workshop-btn-group {
    display: none;
  }
  .three-day-drone-workshop-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .three-day-drone-workshop-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .three-day-drone-workshop-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .three-day-drone-workshop-container15 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .three-day-drone-workshop-logo {
    align-items: center;
  }
  .three-day-drone-workshop-links-container {
    width: 100%;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
  }
  .three-day-drone-workshop-container16 {
    margin-right: var(--dl-space-space-fourunits);
  }
  .three-day-drone-workshop-product-container {
    margin-right: var(--dl-space-space-fourunits);
  }
  .three-day-drone-workshop-container17 {
    margin-right: var(--dl-space-space-fourunits);
  }
  .three-day-drone-workshop-product-container1 {
    margin-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 767px) {
  .three-day-drone-workshop-social-bar {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 540px) {
  .three-day-drone-workshop-header {
    padding: var(--dl-space-space-unit);
  }
  .three-day-drone-workshop-mobile-menu {
    padding: 16px;
  }
  .three-day-drone-workshop-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .three-day-drone-workshop-text {
    width: auto;
    height: 164px;
  }
  .three-day-drone-workshop-button {
    padding-right: var(--dl-space-space-twounits);
  }
  .three-day-drone-workshop-footer {
    padding: var(--dl-space-space-unit);
  }
  .three-day-drone-workshop-container15 {
    align-items: center;
    flex-direction: column;
  }
  .three-day-drone-workshop-links-container {
    align-items: center;
    flex-direction: column;
  }
  .three-day-drone-workshop-container16 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .three-day-drone-workshop-container17 {
    margin-right: 0px;
  }
  .three-day-drone-workshop-container18 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    align-items: flex-start;
    margin-bottom: 0px;
  }
  .three-day-drone-workshop-contact {
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
  }
  .three-day-drone-workshop-text27 {
    text-align: center;
  }
}
@media(max-width: 479px) {
  .three-day-drone-workshop-social-bar {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
}


.workshop-wrapper
{
  width: 100%;
  
  margin: 3rem;
}

.workshop-border1
{
  border: 6px solid black;
}

.workshop-border2
{
  margin: 3px;
  border: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  padding:  1.5rem  2.5rem;
}

.drone-workshop-heading
{
  font-size: 35px;
  padding: 1.3rem 0;
  width: 100%;
  text-align: center;
  font-weight: 700;
}

.main-heading-workshop
{
  font-size: 25px;
  font-weight: 600;
  padding-top: 1.8rem ;
}

.session-workshop
{
  font-size: 20px;
  font-weight: 600;
  padding: 1rem 0;
}

.session-contant
{
  padding: 0 20px;
  font-size: 16px;
  line-height: 25px;
}

@media (max-width:520px) {
  .workshop-border2
{
  margin: 3px;
  border: 3px solid black;
  
  padding:  1rem  1.3rem;
}

.workshop-wrapper
{
  width: 100%;
  margin: 1.3rem;
}

.drone-workshop-heading
{
  font-size: 23px;
  padding: 1.1rem 0;
  font-weight: 800;
}

.main-heading-workshop
{
  font-size: 20px;
  font-weight: 600;
  padding-top: 1.1rem ;
}

.session-workshop
{
  font-size: 20px;
  font-weight: 600;
  padding: 1rem 0;
}

.session-contant
{
  padding: 0 20px;
  font-size: 16px;
  line-height: 25px;
}
}
